[2022-07-08 13:00] teolemon commented on #7012
Attribution in the app, for the map served using Knowledge Panels. We could add a source to the knowledge panel, that would probably be enough to comply

[2022-07-08 14:18] teolemon opened #7041 "Allergens should be highlighted in bold in the ingredients knowledge panel"
### What
- Per a user review: Allergens should be highlighted in bold in the ingredients knowledge panel
### Part of
- #5493

[2022-07-10 15:43] alexfauquette commented on #6462
It works when not logged in but not when logged in.

The first request is done when not logged in (nb of cookies is 0 and the request status is 403)
The second request is done after being logged to the main website (nb of cookies is 1 and the status is CORS error)

![image](https://user-images.githubusercontent.com/45398769/178151621-38eaa5d2-0fa0-422c-8dd1-1cdf5cc9c6c2.png)

[2022-07-11 08:48] stephanegigandet commented on #6838
import.t is not an integration test, it's import_csv_file.t and import_gs1.t that are more like integration tests

[2022-07-11 08:53] stephanegigandet commented on #6838
For the API read test, we could do it like this:

the .t file first:
- uses the internal ProductOpener methods to write specific product data for some products
- calls the HTTP API of ProductOpener to retrieve the product data for those products, and stores the resulting JSONs
- compares the resulting JSONs to the expected JSONs
Using JSONs to store the expected results enables us to clearly see w

[2022-07-11 08:56] teolemon opened #7047 "EMB codes are not included in the traceability codes autosuggest"
### What
- As a OFF mobile app user, I expect both suggestions like FR 23.345.34 CE and EMB 12345
- I only get FR 24.345.45 CE type suggestions
### Part of
- #5508

[2022-07-11 09:02] stephanegigandet commented on #7012
The attribution could be done as an extra source field in the knowledge panel, but it would definitely be much cleaner to do it in the app.

The same knowledge panel displayed on the web site already has attribution in the map itself:

![image](https://user-images.githubusercontent.com/8158668/178228017-97d9a71a-c5fe-4f1a-82d4-b253f1a4ceae.png)

The best solution would be that the app adds the att

[2022-07-11 10:16] stephanegigandet opened #7050 "Find a way to update ingredients / nutrition / packaging photos when we get product photos from GS1 (Agena3000, Equadis)"
### Is your feature request related to a problem? Please describe.

Products sent by GS1 very often include many different views of the product (all faces), but only the main product image is marked, so we only select the front image.

This means we often have updated ingredients / nutrition data with old photos selected, even though we have new photos.

### Describe the solution you'd like

Ideal

[2022-07-11 10:48] teolemon commented on #7050
We could look for keywords in the uploaded photos and auto-select ? We would leave cropping fine-tuning to later ?

[2022-07-11 15:33] teolemon opened #7054 "Better detect image reuploads"
### What
- Better detect image reuploads
- https://pypi.org/project/ImageHash/

### Part of
- Images

[2022-07-12 12:50] stephanegigandet commented on #6462
@alexfauquette ok I think it is working now :)

![image](https://user-images.githubusercontent.com/8158668/178493573-0ad4d214-c712-4a73-a5c7-3cd51b716c3e.png)

[2022-07-12 15:38] teolemon opened #7059 "Replace the logo in the social media preview"
### What

- [ ] Replace the logo in the social media preview

![image](https://user-images.githubusercontent.com/1689815/178530952-bb864529-7f6e-46b4-b30d-b1ee784e7d68.png)

### Part of
- Virality

[2022-07-13 09:18] stephanegigandet opened #7061 "Nutrition facts completed state is not computed properly"
### Describe the bug

Products that have no nutrition facts have the state "nutrition facts completed".

e.g.

https://th-en.openfoodfacts.org/api/v2/product/8851727003056.json
[code]

[code]

### To Reproduce

This is because we look for entries in the "nutriments" structure, and if we have some, we consider the nutrition facts have been completed.

But we now use this structure to store some fie

[2022-07-13 16:31] stephanegigandet opened #7063 "Match of specific ingredients to ingredients should be canonicalized"
### Describe the bug

We parse the origins of ingredients field to store origins of specific ingredients, and then use this info to complement the ingredients extracted from the list of ingredients.

But the matching does not work for ingredients that are not in the taxonomy, as we get ids that are not taxonomized.

e.g.

[code]

Needs to be matched to:

[code]

### To Reproduce

https://world.ope

[2022-07-13 16:34] stephanegigandet commented on #7050
That sounds like a reasonable option.

[2022-07-13 17:00] teolemon opened #7064 "Reduce the size of attribute_groups payload"
### What
Can we reduce the size of attribute_groups payload to the bare minimum required to show the Smoothie scan card ?
eg: we don't need descriptions.
https://world-fr.openfoodfacts.org/api/v2/search?fields=attribute_groups,code,product_name,quantity,brands&page_size=1
![image](https://user-images.githubusercontent.com/1689815/178789769-bb626679-fdcb-49bf-b143-19d710b7dc98.png)

[2022-07-15 11:10] M123-dev opened #7461 "Knowledge panels addition packaging"

[2022-07-15 14:09] stephanegigandet commented on #7064
We have https://world-fr.openfoodfacts.org/api/v2/search?fields=attribute_groups_data,code,product_name,quantity,brands&page_size=1
No titles though.

[2022-07-15 16:03] teolemon opened #7075 "Raw seeds of flax, chia, hemp, etc* do not seem to be considered as "fruits, nuts, seeds""
From a user report: "Bogue du moteur de calcul Nutriscore ? Les *graines crues de lin, chia, chanvre, etc*. riches en oméga 3 ne semblent pas considérées comme des "fruits, noix, graines" par le moteur de calcul nutriscore. Elles obtiennent tjs une note 0 pour "fruits, noix, graines"."

Nutriscore calculation engine bug? *Raw seeds of flax, chia, hemp, etc*. rich in omega 3 do not seem to be consi

[2022-07-18 16:53] LandonPattison opened #7079 "Cannot get cookies in request header"
### Describe the bug

After being redirected from the kratos-selfservice-ui-node there is no kratos_session_cookie in the request header.

### To Reproduce

Steps to reproduce:

1. Add Ory/kratosauth.yml to COMPOSE_FILE variable in env file
2. Go to http://kratos.openfoodfacts.localhost:4455/welcome
3. create an account
4. After being redirected to http://kratos.openfoodfacts.localhost/cgi/kratos_

[2022-07-18 22:24] LandonPattison commented on #7079
The cookies are in the the request header. My browser was not showing all responses due to there being an uninitialized value in perl code, the correct response has the needed request header.

[2022-07-18 22:24] #7079 closed

[2022-07-19 14:49] manon-corneille opened #7087 "Translate email template for the producers platform"
### What

- Communication with producers happen in various languages. The translation of templates would be very helpful to save time when answering producers.

### Proposed solution

- The template to be translated is [user_new_pro_account_org_request_validated.tt.txt](https://github.com/openfoodfacts/openfoodfacts-server/blob/main/templates/emails/user_new_pro_account_org_request_validated.tt.tx

[2022-07-19 15:21] manon-corneille opened #7091 "Automate the creation of a user sheet in Odoo"
### Is your feature request related to a problem? Please describe.

.

### Describe the solution you'd like

Linked issue : https://github.com/openfoodfacts/openfoodfacts-server/issues/6978

Two cases :

1. New user created in Open Food Facts, with a new organisation
→ Add an URL in the email template to allows the OFF admin to validate or not creation of a contact sheet in Odoo.

2. New user crea

[2022-07-19 15:43] manon-corneille opened #7093 "Email template - new user for new org : are you really a producer?"
### What

- I need to have a template to check with a new user if he is really from the organisation that he is requesting.

### Proposed solution

Add the template below would be awesome :
[code]
### Part of
- #5521

[2022-07-19 15:50] manon-corneille opened #7094 "Email template - collect feedback"
### What

Need a new template

### Proposed solution

Add the template below would be awesome :
[code]
### Part of
- #5521

[2022-07-19 16:06] manon-corneille opened #7095 "Send a report to the producer when he/she imports data"
### What
- In order to save customer support time, I believe it would be useful to send a recap of the import to producers so that they can understand better data quality issues and fix them

### Proposed solution

- The report (could be a spreadsheet format) would contain data related to specific points of attention. The following fields seem relevant to me :
- EAN
- Product name
- Category check

[2022-07-19 16:19] manon-corneille opened #7096 "Email template - Export fail (Data needs fixing)"
### What

Better inform the producer about data quality issues and explain how to fix these issues would reduce support workload

### Solution

Add the template below would be awesome :

[code]
### Part of
- #5521

[2022-07-19 16:26] alexgarel commented on #6462
@stephanegigandet as discussed today we should handle the port, so that hunger game developers can test on a preprod server.

[2022-07-20 12:39] monsieurtanuki opened #7101 "Time-out for score computation for product with very few data"
### Describe the bug

From https://github.com/openfoodfacts/openfoodfacts-dart/issues/520

We currently use a product (with very few data) that when we try to compute the scores, fails with a time-out.
Even the website itself crashes when we just add a nutrient value: https://world.openfoodfacts.net/product/7340011364184/chili-beans-null (off/off)

When I try, I get a time-out:
[code]

### To Repr

[2022-07-20 12:58] alexgarel commented on #7101
Trying to look at the log on the server, I tried, and failed (but I didn't get the right log) so I resend the query (refresh in my browser) and then it worked !

[2022-07-20 12:59] alexgarel commented on #7101
@monsieurtanuki do you have another example ?

[2022-07-20 13:02] alexgarel commented on #7096
@manon-corneille when would this email be triggered ? Only on first import (those that requires our validation) ?

[2022-07-20 13:04] alexgarel commented on #7093
This would be a link in the mail "new account … for existing org…" isn't it ?

[2022-07-20 13:06] alexgarel commented on #7091
Note that this is a link to the pro platform, triggering the creation of the user sheet in odoo.

[2022-07-20 13:07] alexgarel commented on #7087
As discussed with @manon-corneille : the mail sent to producers is created using this template, so the task is to make this template translatable, and then let crowdin translations comes in.

[2022-07-20 14:35] manon-corneille opened #7102 "Automatically check the box allowing automatic import for the producer"
### What
- When a producer requests the export of data from the Pro platform and his/her data are valid, we manually tick a box "Enable organization members to manually export product data and photos to the public database" so that the producer can be autonomous for the next exports.

### Solution
- Ideally, it would be great if this tick was automatically checked on the organisation profile.
- Th

[2022-07-20 16:52] teolemon commented on #4648
Probably solved by a proper implementation of Search V2 API in the Dart package
https://github.com/openfoodfacts/openfoodfacts-dart/issues/515

[2022-07-20 16:52] teolemon commented on #6328
Probably solved by a proper implementation of Search V2 API in the Dart package
https://github.com/openfoodfacts/openfoodfacts-dart/issues/515

[2022-07-20 17:48] stephanegigandet opened #7105 "Create a request object and move all page / user specific global variables from Display.pm and Users.pm into it"
### Is your feature request related to a problem? Please describe.

Display.pm and Users.pm make heavy use of global variables like $cc, $lc, $User, $User_id, $cookies etc.

### Describe the solution you'd like

Create a request object that is used to keep all the data about the request and its response.

### Describe alternatives you've considered

_No response_

### Additional context

_No respo

[2022-07-20 19:02] alexfauquette commented on #6462
@stephanegigandet Thanks 🎉
By curiosity, what did you change to make it work?

[2022-07-20 23:58] dipietroR opened #7110 "New Perl::Critic rules"
### Describe the bug

Thinking of adding `[BuiltinFunctions::RequireBlockMap]`, `[BuiltinFunctions::RequireBlockGrep]`, and `[InputOutput::RequireBriefOpen]`

This would involve updating the code to match:
https://metacpan.org/pod/Perl::Critic::Policy::BuiltinFunctions::RequireBlockMap
I'm not so clear on if we want to do this as it looks more like a readability thing than something performance ba

[2022-07-21 09:28] alexgarel commented on #6657
@manon-corneille this might interest you.

[2022-07-21 09:31] alexgarel commented on #7110
For me the "RequireBriefOpen" might be the most interesting. But it may require to refactor lots of code part in a heavy way (eg. changing loops in file lines to isolate file iterations in an iterator function).

[2022-07-21 09:41] stephanegigandet commented on #7110
Those rules sound good to me, we have very few map and grep, so it should be easy to do.

For the open files, I'm curious to see how many of them will be flagged. It may force use to refactor and create functions for the processing, but that's a good thing.

[2022-07-21 09:42] alexgarel commented on #7110
"InputOutput" name space seems interesting.

We may also explore the "Variables" and "ValuesAndExpressions" rules. As they may have interesting rules.
For example

* [Perl::Critic::Policy::Variables::ProhibitReusedNames](https://metacpan.org/pod/Perl::Critic::Policy::Variables::ProhibitReusedNames)  - Do not reuse a variable name in a lexical scope
*

[2022-07-21 09:46] alexgarel commented on #7110
I wanted to find a rule that would spot the auto vivification or lack of variable declaration (we have this [in Tags.pm, the variables used by load_taxonomy](https://github.com/openfoodfacts/openfoodfacts-server/blob/main/lib/ProductOpener/Tags.pm#L940)

[2022-07-21 11:39] Ban3 commented on #7110
I looked at `RequireBriefOpen` when we were doing the severity 4 PR, and IIRC there were few subroutines that would need significant refactoring to pass the default close within 9 lines. I like the policy, but it's not trivial like the grep/map one.

Beside readability, block grep/map scales better because you can just add statements to the block.

[2022-07-21 11:50] teolemon commented on #6587
- Dupe of #4993

[2022-07-21 13:07] Ban3 commented on #7110
These are the policies in the `Perl-Critic` distribution with the default severity of 4:

-   [BuiltinFunctions::RequireBlockGrep](https://metacpan.org/pod/Perl::Critic::Policy::BuiltinFunctions::RequireBlockGrep)
    Write `grep { /$pattern/ } @list` instead of `grep /$pattern/, @list`.
-   [BuiltinFunctions::RequireBlockMap](https://metacpan.org/pod/Perl::Critic::Policy::BuiltinFunctions::Requir

[2022-07-21 14:17] dipietroR commented on #7110
Sounds good. I'll start working on the grep, the map test, and ProhibitReusedNames. I agree looks like RequireBriefOpen would be hard to implement.

[2022-07-21 15:44] dipietroR commented on #7110
Thank you for giving a list of them all!

[2022-07-22 11:54] teolemon opened #7120 "test"
### Problem description

description

### Desired solution

solution

### Alternatives you have considered

_No response_

### Additional context

_No response_

### Number of products impacted

_No response_

### Time per product

_No response_

[2022-07-22 11:55] #7120 closed

[2022-07-22 13:36] manon-corneille opened #7122 "Update new Open Food Facts logo on the donation form"
On this page : https://world.openfoodfacts.org/donate-to-open-food-facts?utm_source=off&utm_medium=web&utm_campaign=donate-2022&utm_term=en-text-button, the logo of Open Food Facts is not up to date

[2022-07-22 13:57] manon-corneille opened #7123 "The drop-down menu is hiden by the footer"
### Describe the bug

In the Pro Platform, I can't access the lower items of the drop-down menu "Explore food by"

### To Reproduce

1. Go to https://world.pro.openfoodfacts.org/
2. Select the producer "org-ideel-garden" or any other producer that only has a few products
3. Click on "Explore products by"

### Expected behavior

I would expect a cursor to help me scroll through the menu

### Screen

[2022-07-22 14:02] manon-corneille commented on #4461
Hi everyone,
A producer having trouble with this issue got back to me :-)  Any idea when this is going to be fix?

Thanks

[2022-07-22 15:18] #7105 closed

[2022-07-22 18:49] dipietroR opened #7125 "check_perl fails"
### Describe the bug

https://github.com/openfoodfacts/openfoodfacts-server/pull/7124 appeared to be failing and the error didn't seem to be related to the PR.

The error:
[code]

So I reran the test on the main branch and it still failed.

### To Reproduce

1. Go to the main branch
2. Run `make check_perl`

Or make a PR and it should supposedly fail

### Expected behavior

For `make check_perl` t

[2022-07-24 16:54] teolemon commented on #5208
- We can also see if we could dump/link with WIPO/INPI data which can be queried by name but also legal entity number (SIRET)
- https://www.wipo.int/classifications/nice/fr/
- https://www.wipo.int/classifications/nice/nclpub/en/fr/?classtype=goods&lang=fr&letter=A&menulang=fr&notion=alphabetical&pagination=no&version=20230101
- https://data.inpi.fr/search?advancedSearch=%257B%257D&displayStyle=Lis

[2022-07-25 07:33] stephanegigandet commented on #7125
That's probably my refactor https://github.com/openfoodfacts/openfoodfacts-server/pull/7106 that broke it, I will fix it.https://github.com/openfoodfacts/openfoodfacts-server/pull/7106

[2022-07-25 08:17] alexgarel opened #7127 "Change Mongodb port exposure when running test"
So that we can override it when running integration tests, to be able to run them while having the dev server up.

[2022-07-25 10:10] #7125 closed

[2022-07-25 10:15] stephanegigandet commented on #7101
The issue is not really "product with very few data" but "product with a lot of edits". As it's used by tests, it's been changed 1800 times. When we save a product, we go through the full history to look for changes. I'm guessing that's what is timing out.

One solution could be to compute the history only for last edit, instead of all edits.

[2022-07-25 10:21] stephanegigandet commented on #7075
It's not "fruits, nuts, seeds", it's "fruits, vegetables, nuts".

The Nutri-Score spec specifically excludes them:

Chia, poppy,sunflower, flax seeds and pine nuts that belong to Eurocode group 7.30 not covered by the
FSA document.

From the Nutriscore spec https://www.santepubliquefrance.fr/content/download/150263/file/QR_scientifique%20et%20technique_EN_310322.pdf :

"1. DEFINING FRUITS, VEGETA

[2022-07-25 10:21] #7075 closed

[2022-07-25 13:40] dipietroR commented on #7125
check_perl seems to be working now, so this issue is not needed

[2022-07-25 13:50] teolemon commented on #5592
From a user, after update to Smoothie: "depuis la nouvelle version il n y a plus le code couleur de l'additif et c'est bien dommage. Je trouvais ça vraiment top et pratique. Le 22/06 merci pour votre retour j'ai hâte car je me base beaucoup sur votre application et j'en ai parlé autour de moi"

[2022-07-25 13:50] teolemon commented on #6964
From a user, after update to Smoothie: "depuis la nouvelle version il n y a plus le code couleur de l'additif et c'est bien dommage. Je trouvais ça vraiment top et pratique. Le 22/06 merci pour votre retour j'ai hâte car je me base beaucoup sur votre application et j'en ai parlé autour de moi"

[2022-07-25 14:00] alexgarel commented on #7127
@yuktea  was wrong, MongoDB expose port is already a variable, we just have to add it when running test. I will do the PR, it's really easy.
cc: @stephanegigandet

[2022-07-25 14:12] yuktea commented on #7127
that makes more sense

[2022-07-25 18:06] alexgarel commented on #7123
I believe this would be fixed by #6783

[2022-07-26 07:58] manon-corneille commented on #7093
Hi @alexgarel yes you are right, for now, it is need only in the  "new account … for existing org…" mail. Thanks :)

[2022-07-26 08:06] manon-corneille commented on #7094
@alexgarel I think this template will actually live in Odoo as it is relative to the long term relationship with the producer, so we can archive this issue.

[2022-07-26 08:06] #7094 closed

[2022-07-26 08:12] manon-corneille commented on #7096
Hey @alexgarel, ideally the idea would be to have a link to this email in the automatic template "Export to public database requested".
In the text of the automatic template, we have this sentence : **_2b. Or, email to the producer if there are too many issues with their data._** that could be hyperlinked

[2022-07-26 08:22] #7127 closed

[2022-07-26 08:48] alexgarel commented on #6696
@manon-corneille this issue might be of interest to you.

[2022-07-26 09:23] #7063 closed

[2022-07-26 12:35] manon-corneille commented on #7087
Also related to https://github.com/openfoodfacts/openfoodfacts-server/issues/5182

[2022-07-26 12:58] manon-corneille opened #7139 "Add a control step to validate that an organisation is official (vs fake or random)"
### Problem description

In the producers platform, we have a process to validate that a user belongs to an existing organisation. But, as soon as the organisation is not already existing, there is no validation required by an OFF admin. This means anyone can create a professional account and manage an organisation

### Desired solution

Add a flag "Unverified organisation" on each new organisatio

[2022-07-26 13:03] manon-corneille commented on #7093
Extra point :

During the meeting we had last friday (Producers process workshop) we also mention that it would be interesting if we could automate this email (Are you a producer?) if the email of the user is generic (@gmail.com, @yahoo.fr, @rakuten.com, etc) .

[2022-07-26 13:14] manon-corneille opened #7140 "Delegate the validation of the connexion between a new user and an org X to another user already in the org X"
### Problem description

The validation process between a new user and its connexion to an existing org can be time consuming :
- For the Open Food Facts admin : it's managable today but as we want to scale up, the incoming request will increase
- For the user : they have to wait until the Open Food Facts admin has validated the fact that they belong to their organisation.

### Desired solution

O

[2022-07-26 13:18] manon-corneille commented on #7139
Extra points :

The idea of having a banner showing "Unverified organisation" in the producers platform was mentioned too.
And the being able to send automatic follow-up emails to these flagged organisations.

[2022-07-28 09:04] teolemon commented on #5006
Elastic Search

[2022-07-28 09:05] teolemon commented on #6891
Elastic Search

[2022-08-01 07:59] stephanegigandet opened #7160 "Use browser language + country of IP address to display links to localized versions."
### Problem description

Pages on https://world.openfoodfacts.org are in English for everyone.

### Desired solution

At least on this subdomain, we could use the browser Accept-Language header, and possibly use the IP address of the country to display a link to a translated and/or localized version.

### Alternatives you have considered

_No response_

### Additional context

_No response_

### N

[2022-08-01 08:28] KommX opened #7161 "Redirect for links sent via app share feature are broken"
### Describe the bug

When I share a link from the app, this link will be redirected via HTTP 302 to a broken URL. I file this bug report here, because I think, that the redirect is the bug here and not the URL generated by the mobile app.

### To Reproduce

1. Share a product link from the app. (e.g. https://de-de.openfoodfacts.org/product/4005514040975?app_name=Smoothie+-+OpenFoodFacts&app_versi

[2022-08-02 14:15] stephanegigandet commented on #7161
Fixed, thanks for the report.

[2022-08-02 14:15] #7161 closed

[2022-08-03 11:10] YashasviChaurasia commented on #5559
@teolemon I would like to work on this issue.

[2022-08-03 11:10] YashasviChaurasia commented on #2497
@teolemon I would like to work on this issue

[2022-08-03 11:12] YashasviChaurasia commented on #54
@kyzh @teolemon, I would like to work on this issue

[2022-08-03 11:13] YashasviChaurasia commented on #7059
@teolemon @alexgarel I would like to work on this issue.

[2022-08-14 08:03] nzaih1999 commented on #5513
hello @teolemon  can I work on the whole user experience..?

[2022-08-15 09:34] teolemon opened #7204 "The salt knowledge panels are not localized"
### Problem description

The salt knowledge panels are not localized in the handful of languages ([العربية](https://www.who.int/ar/news-room/fact-sheets/detail/salt-reduction), [中文](https://www.who.int/zh/news-room/fact-sheets/detail/salt-reduction), [Français](https://www.who.int/fr/news-room/fact-sheets/detail/salt-reduction), [Русский](https://www.who.int/ru/news-room/fact-sheets/detail/salt-re

[2022-08-15 17:55] teolemon opened #7210 "FormatException: Unexpected character (at character 1) <!-- start templates/web/common/site_layout.tt.html"
### Describe the bug

A user reports :

"there are a lot of bugs. When trying to see the ""edited products"" I get the following error :
[code]

[2022-08-15 17:56] teolemon opened #7211 "The website is seen as laggy by users"
### Problem
- From a user report:
"Finally, an app! It’s not laggy like the web version, but it’s excellent! 10/10"

### Part of
- #8764

[2022-08-16 09:31] stephanegigandet commented on #7210
Moving to the app repo. What query is done to get the edited products? It is using the search API? (and not website URLs with .json at the end)

[2022-08-17 12:49] adeyanjufawaz opened #7219 "Re-design the homepage"
### Problem description

I discovered the homepage looks out-datetd, and works can be done to make it look awesome

### Desired solution

I need to work on the Navabr, footer and the UI design of the homepage

### Alternatives you have considered

_No response_

### Additional context

_No response_

### Number of products impacted

_No response_

### Time per product

_No response_

[2022-08-17 12:54] teolemon commented on #7219
- a redesign that includes the homepage is in progress at #6985

[2022-08-17 12:55] adeyanjufawaz commented on #7219
Can i also work on it too

[2022-08-18 08:16] stephanegigandet commented on #7204
It's a good idea to add links to the 5 translated languages on the WHO website, but I would not force automated translation for the other languages. It's best to let users (or the browser preferences they have set) choose.

[2022-08-18 09:24] stephanegigandet commented on #7219
Hi @adeyanjufawaz , you can see the redesign in progress here:
https://world.openfoodfacts.dev/ (login and password: off and off)

The corresponding branch is https://github.com/openfoodfacts/openfoodfacts-server/tree/redesign2

[2022-08-18 09:38] adeyanjufawaz commented on #7219
This is what I got, after inputting "off[image: Screenshot (46).png]
"as username and password

On Thu, Aug 18, 2022 at 10:24 AM Stéphane Gigandet ***@***.***>
wrote:

[2022-08-18 10:47] alexgarel opened #7222 "Water should be ignored when computing percent of fruit"
### What
If we have a product with this composition (in french): "prune, eau", the estimated percentage of fruit is min:50% which affects the nutriscore, for Fruits‚ vegetables‚ nuts and rapeseed‚ walnut and olive oils (estimate from ingredients list analysis) is then 50%.
see: https://world.openfoodfacts.org/product/3760324841617/pruneaux-d-agen-entiers-tres-gros-la-fourche?rev=16

Shouldn't the

[2022-08-18 10:48] alexgarel commented on #7222
cc @stephanegigandet

[2022-08-18 13:20] stephanegigandet commented on #7222
Water should not be ignored, the % of fruits is the % of fruits. e.g. a fruit nectar with 25% fruits, sugar 10% and 65% water should have 25% of fruits.

[2022-08-18 13:20] stephanegigandet commented on #7222
For https://fr.openfoodfacts.org/produit/3760324841600/pruneaux-d-agen-la-fourche , we should add "Prunes d'Ente" in the ingredients taxonomy though.

[2022-08-18 17:44] CharlesNepote commented on #4943
**2022-04 update: 384,297 products**

[code]

[2022-08-19 08:33] alexgarel commented on #3824
I think https://github.com/openfoodfacts/facets-knowledge-panels is part of the answer.

[2022-08-19 12:00] stephanegigandet commented on #7219
@adeyanjufawaz : I can't see your screenshot

[2022-08-19 17:15] teolemon opened #7224 "Add sub knowledge panels to the nutrition table KP to explain nutrients"
### Problem description

Very few people know what the nutrient are for, and the consequence of too little or too much of them

### Desired solution

- [ ] Add sub knowledge panels to the nutrition table KP to explain nutrients
- [ ] ![image](https://user-images.githubusercontent.com/1689815/185672217-47451e03-fb73-4f6c-a1de-827a882330d6.png)

### Alternatives you have considered

_No response_

#

[2022-08-19 17:24] teolemon opened #7225 "Provide estimates of missing nutrients on products (especially fruits) using CIQUAL"
### Problem description

In many products, the nutrition table is either missing or incomplete (eg: Selenium, Iodine,…), and some people and some apps (for nutrition tracking, or rare diseases) would want estimates.

### Desired solution

Create new nutrition fields with an _estimated suffix to provide those values using average values of missing nutrients using CIQUAL

### Alternatives you have c

[2022-08-19 19:18] #7110 closed

[2022-08-22 09:13] manon-corneille opened #7231 "Add the logo for the Label Bee Friendly"
The Label [Bee Friendly](https://fr.openfoodfacts.org/label/bee-friendly) is available on Open Food Facts, but the logo is missing.

You can find the logo below in two different resolutions :
- ![bee-friendly 90x90](https://user-images.githubusercontent.com/104015489/185884742-b8def68c-f30e-49ff-8bed-b9bdd4f58b3f.png)
- ![bee-friendly 1772x1772](https://user-images.githubusercontent.com/104015489/

[2022-08-22 09:49] alexgarel commented on #7231
if needed to do ourselves the reduction https://www.certifiedbeefriendly.org/wp-content/uploads/2022/01/cropped-cropped-BEEFRIENDLY_logoHD_RVB_020318-300x300.png is a better starting point.

[2022-08-22 10:13] pratyaksh1610 commented on #7231
@alexgarel I have added the above URL image in path - https://github.com/openfoodfacts/openfoodfacts-server/tree/main/html/images/lang/fr/labels . Is it preferred , then I can drop a PR for the same.

[2022-08-22 14:57] alexgarel commented on #5338
@akash5100 it might be in user.pl (and maybe User.pm)

[2022-08-22 16:25] teolemon commented on #6947
Fixed

[2022-08-22 16:25] #6947 closed

[2022-08-22 16:34] #6584 closed

[2022-08-22 17:58] aleene commented on #7225
It is also possible to use the averages of a category for this.

[2022-08-23 07:55] alexgarel commented on #7231
good idea @pratyaksh1610, I can't see your PR though.

[2022-08-23 08:32] pratyaksh1610 commented on #7231
@alexgarel I was asking , is it the correct path ?

[2022-08-24 07:56] #7059 closed

[2022-08-24 09:41] manon-corneille opened #7242 "List of ingredients to add"
The ingredients below are relevant but not recognized by our system yet:

- "haricots beurre très fins"
- [en:chocolate-pieces](https://fr.openfoodfacts.org/ingredient/en:chocolate-pieces) (1429 products)
- [piment-doux](https://fr.openfoodfacts.org/ingredient/piment-doux) (463 products)

More examples here: https://fr.openfoodfacts.org/ingredients

[2022-08-24 09:56] manon-corneille opened #7243 "Parsing when ingredients are in brackets. Ex: "cacahuètes avec peau (arrachides)""
From an email from a contributor :

"On the food "peanuts" bar code [3250391545025](https://fr.openfoodfacts.org/produit/3250391545025/cacahuetes-de-comptoir-grillees-salees-bouton-d-or), the list of ingredients refers to "cacahuètes avec peau (arrachides)".
The algorithm seems to detect on one side "cacahuètes avec peau" and on the other side "arrachides" which is in brackets
This counts as 2 ing

[2022-08-24 12:28] alexgarel opened #7244 "ingredients_text is truncated in mongodb dump"
### Describe the bug

As [reported by Kristina on slack](https://openfoodfacts.slack.com/archives/C02KVRT2C/p1661082844352329)

Some items in the jsonl and bson export of the mongodb have "ingredients_text" field truncated, whereas the API have it all, as well as mongodb.

Those are not new items.

### To Reproduce

On mongo:
[code]
whereas in the json:

[code]

Additional examples:

0063748000683

[2022-08-24 12:33] alexgarel commented on #7244
I took time to investigate this morning but didn't find any clue doing internet research.

I read the [mongodump](https://www.mongodb.com/docs/database-tools/mongodump/) and mongoexport doc in search of a config parameter or so… nothing.

The only limit I can find is about document size which should be under 16Mb, and:
[code]
our object is 78k so we are far from this limit.

Another limit is for i

[2022-08-24 13:26] alexgarel commented on #7244
I made a test to retrieve 1340951640901 on a test mongo instance where @CharlesNepote has imported data some monthes ago from the dump… the string is not truncated !

[2022-08-24 13:26] alexgarel commented on #7244
I continue investigation to find differences.

Here is the value I get using:

- in the bson:  (decode with `bsondump products.bson |grep -A 3 -e '\(1340951640901\|00637480006835\|00016571950293\|00016571910303\|07203671232\)' > truncated.json`
- in jsonl: (`zcat ../../openfoodfacts-products.jsonl.gz |grep -A 3 -e '\(1340951640901\|00637480006835\|00016571950293\|00016571910303\|07203671232\)' > t

[2022-08-24 13:44] stephanegigandet commented on #7244
the first USDA dump import had ingredients truncated at 255 characters, that was a bug in the USDA data.

[2022-08-24 14:47] aleene commented on #7242
what is the issue with chocolate pieces? It is already listed as synonym.

[2022-08-24 17:00] alexgarel commented on #7244
Hum for 00016571950293 and 00016571910303, I think I'got the trick: as they are 14 digits, our API removes the first 0.

If you look carefully at https://world.openfoodfacts.org/api/v2/product/00016571950293&fields=code,ingredients_text,codes_tags you see the leading 0 is remove in the returned object.

But it seems we have old 14-digit references in the mongodb ! Which are not up to date…

On sta

[2022-08-24 17:03] alexgarel commented on #7244
Note that the product exists on the filesystem (here on staging):
[code]

[2022-08-24 17:06] alexgarel commented on #7244
@stephanegigandet should we remove those products and their reference in the mongodb ?

Should Kristina deal with those 14-digit and remove the first digit if it's a 0 ?

That would leave us only with the first problematic case.

[2022-08-25 07:30] stephanegigandet commented on #7244
The ideal solution would be to move them to the code without 0 (if the product does not exist), or delete them (if the product already exists).

It would be good to also dump all codes from MongoDB and run them through normalize_code() to see if we have other instances of products that are now stored differently.

[2022-08-25 07:54] alexgarel opened #7248 "Write a script that fix mongodb items out of sync"
We know from #7244 we may have out of sync data in mongodb.

Can we write a simple script to find and fix such items ?

[2022-08-25 08:03] alexgarel commented on #7248
If we want to check without loading every sto:

- We have the "rev" field in mongodb, and this is reflected in sto filename,
  But it may not catch [updates due to ingredients parsing](https://github.com/openfoodfacts/openfoodfacts-server/blob/6f070af1177d19bb973f55c243166a0a180383ea/scripts/update_all_products.pl#L1187) (for we do not update the revision in those cases)
- We have the last_modifie

[2022-08-25 08:07] alexgarel opened #7249 "Remove or move entries with non normalized codes in mongodb"
We have entries on the file system or in mongodb with a non normalized code, (see Products.pm::normalize_code). This leads to confusion for people using the data dump (see #7244)

Run a script to clean those entries. For each entry with a non normalized code:
- always remove the non normalized version in mongodb
- for the sto file:
  - if an entry with the normalized code exists: remove the non no

[2022-08-25 08:08] alexgarel commented on #7244
I opened #7249 and #7248

[2022-08-25 09:00] stephanegigandet commented on #4667
The problem is still there for 44 products:

44

{ "_id" : NumberLong("71923722898"), "product_name" : "frosted flakes sweetened cereal", "code" : "0071923722898" }
{ "_id" : NumberLong("326496301163"), "code" : "0326496301163", "product_name" : "Pat'atouille" }
{ "_id" : NumberLong("2700963001059"), "code" : "2700963001059", "product_name" : "Jardin anglais" }
{ "_id" : NumberLong("2954535000005"

[2022-08-25 10:38] stephanegigandet commented on #4667
The specific revision of those products with code as a number instead of a string seem to be the one happening when the barcode has been changed. I just checked, changing the barcode indeed sets the _id field as a number instead of a string.

[2022-08-26 07:34] manon-corneille opened #7254 "Edit the computation of NOVA for 100% natural products"
### Problem description

A producer is questioning the NOVA classification of his products :
[This product](https://fr.openfoodfacts.org/produit/5060088705926/lemon-drizzle-bar-nakd) is 100% made from natural ingredients and assembled via a “pressing” process.

The category "Snacks" causes the fact that the product is classified in NOVA 3.

### Desired solution

As there is no sugar or salt added,

[2022-08-26 07:39] teolemon commented on #7254
A hint of natural flavorings

[2022-08-26 12:49] #7242 closed

[2022-08-26 15:20] alexgarel opened #7260 "Write a function (to use with diag) to dump server logs on integration test failure"
When we have non 200 response while fetching a url in integrations tests, that usually means the servers did encounter an error.

[Test::More](https://perldoc.perl.org/Test::More) proposes to use the diag function to add a message in this cases.

We could write an helper function that return last lines of logs files (log4perl etc.) on failure and use diag to display them.

[code]

Even better, we

[2022-08-27 14:33] teolemon commented on #3361
We have a nice 404 image: https://hunger.openfoodfacts.org/static/media/404.da694b05440877b1a5f4.png

[2022-08-28 20:29] benbenben2 commented on #6782
Hello!
Being new on OFF and on Perl, I was a bit too optimistic when I thought I could work on this issue all by myself -_-'

Instead, I will share some comments.
If you have time you can guide me and maybe I could try to work further on it but it will take me some time, definitely.

This issue can be reproduced as follows:
- go to https://world.openfoodfacts.org/
- click on "Advanced search"
- se

[2022-08-28 22:04] yuktea opened #7265 "Insufficient color contrast on links for page numbers"
### Description of the issue

This issue was reported by the Accessibility Foundation (https://github.com/openfoodfacts/openfoodfacts-server/issues/4640)
Quoting from [accessibility_report.pdf](https://github.com/openfoodfacts/openfoodfacts-server/files/5702582/Report.OpenFoodFact.15-12-2020.pdf)
Quoting this report:
1.4.3 Contrast (minimum)

![image](https://user-images.githubusercontent.com/7336

[2022-08-28 22:56] yuktea opened #7266 "Tapioca Starch isn't recognized as an ingredient"
This could be fixed by adding Tapioca Starch as a synonym to Tapioca Flour in the taxonomies.

[2022-08-29 08:52] CharlesNepote opened #7267 "Barcode not displayed for products with fake barcodes attributed by OFF, breaks Folksonomy Engine"
### What

- The paragraph "Barcode: xxxxxxxxxxxx" is not displayed on this product: https://world.openfoodfacts.org/product/2000000009452/pate-d-olives-noires-prior
- The following test seems to fail:
- https://github.com/openfoodfacts/openfoodfacts-server/blob/main/templates/web/pages/product/product_page.tt.html#L57
- It makes Folksonomy Engine failing.

### To Reproduce

- Just open: https://wo

[2022-08-29 13:34] stephanegigandet opened #7270 "Replace all instances of param() by scalar param()"
### Describe the bug

The param() function in CGI.pm has a weird behaviour : when called in list context, it returns an array of values. But that means that if no value is provided for the parameter, it returns an empty array. That causes problems when param("something") is passed itself as a parameter for a function.

See https://metacpan.org/pod/CGI#Fetching-the-value-or-values-of-a-single-named

[2022-08-29 14:16] stephanegigandet commented on #7270
We have a lot of instances of code like:  decode utf8=>param("something")
for reading text parameters. The decode utf8=> will also force the scalar context.

[2022-08-29 14:53] Ban3 commented on #7270
Would writing our own wrapper for `scalar param($s)` make sense? CGI already provides `multi_param` for always getting a list. Something like:

[code]
Then you wouldn't need to remember the `scalar` every time and the intention would be clear.

[2022-08-29 15:23] stephanegigandet opened #7271 "Refactor the update_all_products.pl script to use a new function update_existing_product_without_creating_a_new_revision()"
### Problem description

The scripts/update_all_products.pl script is used to make updates to products (such as reprocessing the ingredients, recomputing scores etc.) without creating a new revision of the product. The product is updated "in place".

This code:

			# Otherwise, we silently update the .sto file of the last version
			else {

				# make sure nutrient values are numbers
				ProductOp

[2022-08-29 16:42] stephanegigandet commented on #6462
This should be fixed

[2022-08-29 16:42] #6462 closed

[2022-08-29 16:59] alexgarel commented on #6259
Start with:
* product edit
* image upload
* if possible: insight validation (product edit coming from robotoff)

[2022-08-29 18:16] pratyaksh1610 opened #7272 "Update new Open Food Facts logo on the discover page"
On this page : https://world.openfoodfacts.org/discover

The logo of Open Food Facts is not up to date.

[2022-08-30 08:32] stephanegigandet commented on #7267
The product does not have a real barcode, so we don't display it. We could have a hidden <span id="barcode">.

[2022-08-30 10:19] manon-corneille commented on #7254
Thanks @teolemon I close the issue then. :)

[2022-08-30 10:20] #7123 closed

[2022-08-30 13:14] alexgarel commented on #6956
We can close this, most code is migrated.

[2022-08-30 13:17] stephanegigandet commented on #6687
We need to add a bit more details to this bug: what would be an example of a good translation in one RTL language like Arabic or Japanese? An example would help contributors to understand the bug.

[2022-08-30 13:21] stephanegigandet commented on #6534
The corresponding code in cgi/product_image_upload.pl and Images.pm (process_image_upload() function)

[2022-08-30 13:25] stephanegigandet commented on #6240
Recommended solution:

- Create a /deleted_product_images directory that is not accessible from the web
- Move deleted image files to /deleted_product_images + prefix their name with the barcode)

[2022-08-30 13:25] alexgarel commented on #6853
It happens in Display.pm compare_product_nutrition_facts_to_categories

While looping on categories, `foreach my $cid (@{$product_ref->{categories_tags}}) {`
pass to next iteration directly if category is not in taxonomy.

To verify it's in the taxonomy, you have to check it' in just_tags{category} (see Tags.pm)

[2022-08-30 13:30] stephanegigandet commented on #5163
corresponding code is in DataQualityFood.pm

[2022-08-30 13:34] alexgarel commented on #6822
@Chocobozzz  for your information @simonj2 is working on a new project for search: https://github.com/openfoodfacts/openfoodfacts-search :-)

[2022-08-30 13:35] alexgarel commented on #6795
It's done.

[2022-08-30 13:35] #6795 closed

[2022-08-30 13:37] alexgarel commented on #6739
See also #6240

[2022-08-30 16:31] teolemon opened #7277 "What is this file about ?"
Story: https://github.com/openfoodfacts/openfoodfacts-server/blob/removing-old-logo-flavors/po/openfoodfacts/openfoodfacts

[2022-09-01 08:05] stephanegigandet commented on #7021
We need the same feature for ingredients: https://github.com/openfoodfacts/openfoodfacts-server/issues/6931

[2022-09-01 08:09] manon-corneille opened #7282 "Trigger a message in Slack #producers when a producer imports / updates products"
### What
Getting updates about the products imports would be interesting, and motivating for everyone involved in the project. Can be fetched once a day, no need to be real time.

Triggers and messages :
1. When a producer imports for the first time →  "org-id" has successfully completed its first import of "nb of products" products 🎉
2. When a producer updates existing products → "org-id" has jus

[2022-09-01 09:39] manon-corneille opened #7286 "api-subscribe@openfoodfacts.org → Delivery Status Notification (Failure)"
### Describe the bug

On the page https://fr.openfoodfacts.org/data, the email address api-subscribe@openfoodfacts.org is provided to update reusers about API updates, but it doesn't seem to be working anymore.

### To Reproduce

Send email to api-subscribe@openfoodfacts.org

### Expected behavior

That the email address works

### Screenshots

_No response_

### Additional context

_No response_

[2022-09-01 12:33] stephanegigandet commented on #7270
@Ban3 that's a good idea, I will do that.

[2022-09-02 08:32] stephanegigandet opened #7288 "Change status code to 403 for API and web pages requested with a bad userid / password combination"
### Problem description

Apps can include user credentials in API requests (userid + password field). But if the credentials are incorrect, the server returns a 200 response with HTML code saying the credentials are incorrect. Apps expect a JSON response, try to decode the HTML as JSON, and fail.

### Desired solution

When user credentials are incorrect, return a 403 so that apps know the credent

[2022-09-02 09:31] CharlesNepote commented on #429
Maybe I have found an example of what you mean with this product: https://world.openfoodfacts.org/cgi/product.pl?type=edit&code=3439495402643

To reproduce the issue based on this product:
* edit the product
* click on "rotate left"
* select the right zone
* click on "validate and/or resize the image"
* => the resulted image is displayed partly and with a wrong orientation

Tested either with Fire

[2022-09-04 18:19] MaruthiKo commented on #7265
Hi, I would like to work on this issue.

[2022-09-05 14:13] alexgarel commented on #7266
We have to add this to the ingredients taxonomy.

[2022-09-05 14:29] alexgarel opened #7295 "New design: small remaining issues"
This issue tracks small problems still to be fixed in [redesign2](https://github.com/openfoodfacts/openfoodfacts-server/tree/redesign2) branch

- [ ] on login page there is no link to the registration form.

[2022-09-05 14:43] alexgarel opened #7296 "First round of integration of producer platform to CRM"

[2022-09-06 08:41] stephanegigandet opened #7301 "Search with right single quotation mark ’ instead of apostrophe ' returns 0 result"
### Describe the bug

See https://github.com/openfoodfacts/smooth-app/issues/2921

We index words without apostrophes / right quotation marks (in lib/ProductOpener/Products.pm index_product() )
but we keep the right quotation marks when searching (in cgi/search.pl)

Solution: remove right quotation marks also when searching.

### To Reproduce

search for "boisson à l’amande" : https://world.openfo

[2022-09-06 09:23] alexgarel commented on #6720
Note that we might want current work on Ory to land before thinking of this (as we may use Kratos capabilities).

[2022-09-06 09:25] alexgarel commented on #5559
@YashasviChaurasia sorry it's now that I see your message. You are very welcome to help :-) (sorry for the delay)
Maybe you should come on #productopener channel on [slack](https://slack.openfoodfacts.org/) to discuss it.

[2022-09-06 12:48] teolemon commented on #6987
unassigning you @stephanegigandet for the time being

[2022-09-06 13:36] alexgarel commented on #5006
New https://github.com/openfoodfacts/openfoodfacts-search/ project should tackle this…

[2022-09-06 13:40] alexgarel commented on #6783
It's currently being worked on redesign2 branch.

You can test it on https://world.openfoodfacts.dev

[2022-09-06 13:47] alexgarel commented on #6758
In `/templates/web/pages/product_edit/product_edit_form_display.tt.html`, add a class to every elements that are under a `[% IF moderator...` or a `[% IF admin...`.

Then add a CSS rule for this class to make it visible (in _off.scss ?)

[2022-09-06 13:51] alexgarel commented on #7231
Sorry @pratyaksh1610 for the latency, yes you are correct on the path.

[2022-09-06 13:57] alexgarel commented on #6826
@ghost you are perfectly right. But before we have to ship the last version of the app in F-Droid, which is not as easy as it seems, see: https://github.com/openfoodfacts/smooth-app/issues/1882

[2022-09-06 14:01] alexgarel commented on #7272
@pratyaksh1610 I'am moving this to [openfoodfacts-web](https://github.com/openfoodfacts/openfoodfacts-web) project as it really belongs there.

It's the file ../off-web/lang/en/texts/discover.html which should be updated.

[2022-09-06 14:06] alexgarel commented on #6845
I think we can close this (see PR above)

[2022-09-06 14:06] #6845 closed

[2022-09-06 14:16] alexgarel commented on #6783
@nzaih1999 it's a magical off / off :-)

(same for our stagging sever : https://world.openfoodfacts.net)

[2022-09-06 14:31] alexgarel commented on #6861
@teolemon we have to make an issue to discuss the data structure first.

[2022-09-06 14:37] nzaih1999 commented on #6783
Thank you let me join the slack and check on the contribution guidelines

[2022-09-06 15:08] MaruthiKo commented on #7265
Alright Done will, look into it

[2022-09-06 15:18] manon-corneille opened #7305 "Adding the Pro User Guide in the Pro Platform"
### Problem description

Lot of support requests via producers@openfoodfacts.com from producers

### Desired solution

Help producers be more autonomous when using the Pro Platform.

Now that the user guide has been updated, it would be good to facilitate its access by adding it in the Pro Platform:
**1. In the landing page**
* https://fr.pro.openfoodfacts.org/
* https://world.pro.openfoodfacts.or

[2022-09-06 15:27] stephanegigandet opened #7306 "NEW DESIGN: bad colors and icon position in user menu"

[2022-09-06 15:36] stephanegigandet opened #7307 "NEW DESIGN: fix tabs and links to sections on product page"
On the product page, we have tabs that allow to quickly navigate to the different sections (and see in which section we are).

Currently a few of them are hardcoded in French, and others are not implemented.

https://world.openfoodfacts.dev/product/8888247127528/enriched-chocolate-wholemeal-cream-roll-gardenia

![image](https://user-images.githubusercontent.com/8158668/188676959-a646561e-8a10-416d

[2022-09-06 15:40] stephanegigandet opened #7308 "NEW DESIGN: products not aligned on first row and last row of lists of products"

[2022-09-06 15:40] stephanegigandet opened #7309 "NEW DESIGN: products not aligned on first row and last row of lists of products"

[2022-09-06 15:43] stephanegigandet commented on #7308
duplicate

[2022-09-06 15:43] #7308 closed

[2022-09-06 15:54] alexgarel commented on #7270
fixed by pr.

[2022-09-06 15:54] #7270 closed

[2022-09-06 15:58] stephanegigandet opened #7310 "NEW DESIGN: Define and implement color scheme for text pages"

[2022-09-06 17:46] Sulstice commented on #6814
@alexgarel Huh, I didn't even account for that. I think I can do that programmatically, where the user can add their own prefix based on the english, maybe translating it too.

That's interesting, I am also recently connecting into wikidata as well so there's going to be a way for all of us to connect.

[2022-09-06 18:06] jayaddison opened #7312 "taxonomy: ingredients: add Cotija cheese"
As described at: https://en.wikipedia.org/wiki/Cotija_cheese

(context: I've been preparing a few small ingredient taxonomy edits in #7311 -- but adding a new ingredient seemed worthwhile to track  as a separate issue, since there may be a little more work required than when editing/adding WikiData metadata for an existing entry)

[2022-09-06 18:07] jayaddison commented on #7312
(I'll work on this soon, after completing a first-pass over the ingredient names & metadata I'm reviewing locally)

[2022-09-06 18:14] jayaddison opened #7313 "taxonomy: ingredients: add Havarti cheese"
As described at https://en.wikipedia.org/wiki/Havarti

(see also: #7312; I'm planning to work on this task soon)

[2022-09-06 18:33] jayaddison opened #7314 "taxonomy: ingredients: add Colby cheese"
As described at https://en.wikipedia.org/wiki/Colby_cheese

(see also: #7312; I'm planning to work on this task soon)

[2022-09-06 18:48] jayaddison opened #7315 "taxonomy: category: add collard greens"
As described at: https://en.wikipedia.org/wiki/Collard_(plant)

(note: should this be an `ingredient` or a `category`?  I think a `category`, but could be mistaken)

[2022-09-06 18:57] jayaddison opened #7316 "taxonomy: ingredients: add Muenster cheese"
As described at https://en.wikipedia.org/wiki/Muenster_cheese

:warning: Note that this is _not_ the same as Munster cheese! (which already exists within the `ingredient` taxonomy)

Muenster cheese is from the U.S. and _named after_ a town in the Alsace region; [Munster cheese](https://en.wikipedia.org/wiki/Munster_cheese) is a separate product _made in the vicinity of_ the Alsace region.

[2022-09-06 19:07] aleene commented on #7315
I wondered why you are adding this. Is there a product, which corresponds to this?

By the way it is both an ingredient and a category. We have no way yet link the two.

[2022-09-06 19:14] pratyaksh1610 commented on #7231
@alexgarel Okay, cool 👍

[2022-09-07 09:42] alexgarel commented on #7315
@jayaddison do you feel like doing it yourself ? (as you will need more additions, it can be better to be able to do pull requests by yourself).

See https://wiki.openfoodfacts.org/Global_taxonomies for some help.

[2022-09-07 10:57] aleene commented on #7315
Great. I have been integrating ingredients with wikidat, and found that the wikidata info is often of bad quality. So I copied OFf-data to wikidata. Sometimes the creation of ingredient on wikidata is required. Doublechecking with wiktionary can be useful as well.

[2022-09-07 14:22] CharlesNepote commented on #2325
The `additives` field is empty and I suspect other ones.

[2022-09-07 14:58] jayaddison commented on #7315
@alexgarel yep, I'll try to complete this task :+1:

(I have #7311 as a work-in-progress for small wikidata edits -- I have gotten to the letter "C" in the English alphabet, so there's quite a lot more to do.  After completing that, I'll return to these tasks.  I won't create more issues because there are already 5, and I don't want to create (more?) ticket spam)

Also, thanks for the wiki link -

[2022-09-07 15:37] aleene commented on #7315
I think you grasped the difference between ingredients and categories very well. Ping me on Slack and we can discuss further in #taxonomies.

[2022-09-07 16:06] #2426 closed

[2022-09-07 16:32] M123-dev commented on #5006
@alexgarel what is the current status of off-search, when do you think it's ready to be tested

[2022-09-08 14:11] stephanegigandet opened #7320 "NEW DESIGN: Add a way to display product images (front, ingredients, nutrition, packaging) through knowledge panels"
Needed for #7307. The new product page will be driven by knowledge panels, so we need to add a way to display the different product images through knowledge panels, e.g. the ingredients image next to the ingredients panel.

Once done, we should be able to remove functions display_image, display_image_thumb and display_image_thumb in Display.pm and Images.pm. Those functions are not templatized.

[2022-09-09 13:12] alexgarel commented on #5006
@M123-dev I'm working on deploying it to stagging, see https://github.com/openfoodfacts/openfoodfacts-search/pull/17

[2022-09-09 13:18] M123-dev commented on #5006
Perfect, then we can directly try it out in smoothie using dev mode

[2022-09-11 16:22] aakankshabhende commented on #6696
I would like to work on this issue @alexgarel

[2022-09-11 16:27] aakankshabhende commented on #5182
I would like to work on this issue @teolemon

[2022-09-11 16:28] aakankshabhende commented on #4400
I would like to work on this issue @teolemon

[2022-09-11 16:31] aakankshabhende commented on #7265
@alexgarel I would like to work on this issue

[2022-09-11 16:32] aakankshabhende commented on #7266
@alexgarel I would like to work on this issue

[2022-09-11 16:36] aakankshabhende commented on #2650
@teolemon @alexgarel I would like to work on this issue

[2022-09-11 17:12] yuktea commented on #7266
@aakankshabhende thanks! I'll assign it to you. Make sure you join our slack if you feel like you need help

[2022-09-11 17:14] yuktea commented on #7265
@aakankshabhende you've just been assigned another issue, would you still like to work on it?
@MaruthiKo : are you working on it?

[2022-09-11 17:15] MaruthiKo commented on #7265
Understood the changes but could not find the file to make changes

[2022-09-12 03:12] aakankshabhende commented on #7266
Sure @yuktea

[2022-09-12 03:25] aakankshabhende commented on #7266
@yuktea is there any specific channel on slack for this repository?

[2022-09-12 06:29] aleene commented on #7266
The slack channel for the taxonomies is #taxonomies. Check out the ingredients.txt file in the taxonomies folder.

[2022-09-12 08:24] stephanegigandet commented on #6714
I think we can close this. We can always revisit later, but I think it works reasonably well on both web and mobile. Fine with you @teolemon ?

[2022-09-12 08:29] #6714 closed

[2022-09-12 12:17] yuktea commented on #7266
@aakankshabhende: are you coming here from the Grace Hopper OSD? in that case, join #opensourceday on the Open Food Facts slack

[2022-09-12 14:48] stephanegigandet opened #7330 "mod_perl is appending "Not found" error messages to Product Opener 404 error messages"
### Describe the bug

When Product Opener returns a 404, mod_perl appends an error message at the end of the HTML body.

![image](https://user-images.githubusercontent.com/8158668/189684969-b18a5cf0-c4f5-4eb5-b8e5-14a79a59ed5d.png)

### To Reproduce

https://world.openfoodfacts.org/urlthatdoesnotexist

### Expected behavior

No extra error message.

### Screenshots

_No response_

### Additional c

[2022-09-12 15:14] stephanegigandet commented on #7330
Probably caused by the exit() call:

[code]

Ideally, we should have the cgi scripts return Apache2::Const::OK to tell mod_perl not to add a custom error message. But the exit() call prevents that.

If we remove the exit() call, then we have queries that can fail (e.g. sending bad user credentials) but still continue to run after the display_error().

It may be difficult to fix as we need to retur

[2022-09-12 16:53] stephanegigandet commented on #7310
I changed a bit the color of the background behind the OFF logo, and put a white background for the menu items.

![image](https://user-images.githubusercontent.com/8158668/189711885-acd4556a-dcb2-4aba-a1e3-066538f729dc.png)

[2022-09-13 11:53] stephanegigandet opened #7333 "NEW DESIGN: Create knowledge panels for vitamins and minerals"

[2022-09-13 11:53] stephanegigandet opened #7334 "NEW DESIGN: Add packaging information text to packaging knowledge panel"

[2022-09-13 11:53] stephanegigandet opened #7335 "NEW DESIGN: On website, put ingredients knowledge panel before nutrition on product page"

[2022-09-13 13:28] alexgarel commented on #6696
@aakankshabhende this might be a difficult issue, just because the codebase is large ! Also because it's a bit controversial, and I think to make this resolution acceptable we should also add a "include unsold products" checkbox on the advanced search, and/or display the number of hidden unsold products on a search.

[2022-09-13 13:38] alexgarel commented on #4400
Right now translating is not as easy as it seems.

@aakankshabhende this issue would be best tackled when we have the [taxonomy editor](https://github.com/openfoodfacts/taxonomy-editor/) ready !

[2022-09-13 13:41] alexgarel commented on #2650
@aakankshabhende there again we should wait before doing that because there is a work in progress to switch to ORY for user management. In this case it would be the responsible for such a verification.

See #6864 by @LandonPattison

[2022-09-13 13:53] alexgarel commented on #7265
Use developper tool in you navigator to see which CSS rules are involved.
Eventually add one to customize.
As said above, it's in _off.scss

[2022-09-13 13:58] stephanegigandet commented on #7307
Now the links don't work at all and multiple tabs are highlighted... :-| 

![image](https://user-images.githubusercontent.com/8158668/189920750-e7230323-4cbb-4430-9f66-9ad2dbb39118.png)

[2022-09-13 15:25] stephanegigandet opened #7336 "NEW DESIGN: Product page navigation tabs don't work"
In the new design, the product page has different sections like "Product", "Match", "Health", "Ingredients", "Nutrition", "Environment" etc. There are some navigation tabs at the top that should lead to those sections, and show which section is active.

In the current version of the redesign2 branch, only the first 2 tabs "Product" and "Match" work. Clicking on the other links leads to roughly the

[2022-09-13 15:33] stephanegigandet commented on #7336
This page is currently live on the dev environment: https://world.openfoodfacts.dev/product/3336970409060/la-legere-vico  (login and password: off )

[2022-09-14 02:30] MaruthiKo commented on #7265
Yea did try that, it showed that the changes are in _pagination.scss
Will look into that again
Thanks for the help

[2022-09-14 07:48] eeshaanSA commented on #7309
Would like to take this up. @stephanegigandet

[2022-09-14 13:35] stephanegigandet commented on #7309
@eeshaanSA : thank you!

Corresponding code: https://github.com/openfoodfacts/openfoodfacts-server/blob/redesign2/templates/web/pages/product/product_page.tt.html

+ the SCSS code in /scss/

+ JS code in /html/js/product-search.js

[2022-09-15 09:12] yuktea opened #7343 "Move inline JavaScript code out of `import_photos_upload.pl`"
In `cgi/import_photos_upload.pl` from line **212**. There is some inline JS that shouldn't be there.
This JavaScript code should ideally be in a new file templates/import_photos_upload.tt.js.
[an example for refactoring JS out of perl script linked here](https://github.com/openfoodfacts/openfoodfacts-server/pull/5283/files#diff-129f3f9c76272b940b27d185cf6f0ba2a4789e215077f8ff62aeb58f8a1f0bdb)

[2022-09-15 11:57] alfinal opened #7345 "Add suport for knowing if is suitable for people with fructose malabsorption syndrome and for people with hereditary fructose intolerance"
### Problem description

Yesterday diagnosed me fructose malabsorption syndrome and I want to know what products could I eat. So possibility to fill this data in each product could be great (I'd add a lot based on scientific references).

### Desired solution

Add a "Without fructose" as other "allergens" like "Without Gluten" or "Without Milk". This could be great to people with hereditary fructo

[2022-09-15 14:15] teolemon commented on #6506
- Duplicate of #3158

[2022-09-15 14:15] #6506 closed

[2022-09-16 10:44] manon-corneille commented on #7231
Hi guys,
Bee Friendly got back to me with the SVG logo (not sure if it's still relevant, but here it is) :)

[BEE FRIENDLY logo png_adobe_express](https://user-images.githubusercontent.com/104015489/190621811-37caa057-b0ae-4b86-9ae8-46d09fc10598.svg)

[2022-09-16 11:17] stephanegigandet commented on #7336
So, to make tabs work, the links need to go to sections blocks, and all blocks need to be under the same parent element. So we can't link to deeply nested knowledge panels like ingredients and nutrition.

I kept only one level, it's simpler. Fixed by https://github.com/openfoodfacts/openfoodfacts-server/issues/7336

[2022-09-16 11:17] #7336 closed

[2022-09-16 11:22] stephanegigandet commented on #7335
This has been fixed by adding a new knowledge panel option : knowledge_panels_client that can be set to "app" or "web". The option is available to the knowledge panels template, so we can change the order of panels based on it.

The corresponding code change is https://github.com/openfoodfacts/openfoodfacts-server/commit/9e4c9204e492954240b61c301e2631d047de6ed3

[2022-09-16 11:22] #7335 closed

[2022-09-16 11:26] stephanegigandet commented on #7320
Some knowledge panel groups element now have an associated image.

Related commits:

https://github.com/openfoodfacts/openfoodfacts-server/commit/3f4511bcecf69fa9f74a4a4b06a7e9c0476335f7
https://github.com/openfoodfacts/openfoodfacts-server/commit/e2378ac94acb88e369b09f45ced4e247e7c83758
https://github.com/openfoodfacts/openfoodfacts-server/commit/abf1757c11ba075ae9fd1da1c486698b215b7d4f
https://g

[2022-09-16 11:26] #7320 closed

[2022-09-16 11:38] stephanegigandet commented on #7307
Added translations.
Fixed tab links issue in https://github.com/openfoodfacts/openfoodfacts-server/issues/7336

[2022-09-16 11:38] #7307 closed

[2022-09-16 11:42] stephanegigandet opened #7349 "NEW DESIGN: on login page there is no link to the registration form."
### What
- NEW DESIGN: on login page there is no link to the registration form.

### Part of
- #7295

![image](https://user-images.githubusercontent.com/8158668/190631295-8be13101-0dab-4e06-bb73-6e9c15805314.png)

We need to add links to create an account, and to reset the password, as we have in production today:

![image](https://user-images.githubusercontent.com/8158668/190631502-5a1e0659-d133-

[2022-09-16 13:06] alexgarel opened #7350 "Add a validation process to new org creation"
As a new user subscribe, telling he is from a company, if it's the first for that company, we currently create a new org and attach the user to it.

As there is a lot of potential fake data, we would like a "validation" round.

The validation does not disable the user from using the pro-platform but is just a status, for now.

- implement a field for validated yes / no (or use the existing *is a p

[2022-09-16 13:07] alexgarel commented on #7091
I'll close in favor of https://github.com/openfoodfacts/openfoodfacts-server/issues/7296

[2022-09-16 13:07] #7091 closed

[2022-09-16 13:08] alexgarel opened #7351 "Create an entry for validated org in CRM (and it's first user)"
Create an org entry and a user entry in CRM as we validate an org (see #7350)

Here are some fields to be copied.

For orgs, create a company entry.
- org_id --> should go in a specific field (off_org_id)
- name / phone / email / website if they exists
- add a tag "pro_platform" (it identify entries managed by pro platform)

Attach to this org a contact which information is based on user info:
- u

[2022-09-16 13:08] alexgarel opened #7352 "Create an entry for validated user of existing org in CRM"
When a user tell us, at subscription time, that he is part of an existing org, we do add a validation step.

Currently this require to manually edit the user data.

Eventually make it a view, akin to #7351

On user org membership validation, create a contact entry in the CRM:
- linked to the company entry retrieved in CRM thanks to org_id (off_org_id)
- with the user data as in #7351

### Part of

[2022-09-16 13:08] alexgarel opened #7353 "Create an opportunity on new org creation"
When we create a new org (#7351) we should also create an opportunity in the CRM to follow acquisition of this producer.

- on the validation form of #7351, add a checkbox (on by default) to also create an opportunity
- create the opportunity in the CRM
  - linked to the user and the org
  - with a tag "pro_platform" (to identify entries managed by pro platform)
  - name: "<org name> - new org"

[2022-09-16 13:08] alexgarel opened #7354 "Avoid duplicate org and users in CRM"
### What
- #7351 and #7352 are discussing creating users and orgs in the CRM.

But as part of the user / org acquisition will be an upstream process, it would be important to avoid duplicating entries for org and users.

As we create user and org we should use some strategies to try to verify if there is one already matching our entry.

1. if there is a matching entry with off_org_id / off_user_id

[2022-09-16 13:08] alexgarel opened #7355 "validate existing org and user to import in CRM"
### What
- We have a lot of orgs and users already in the pro platform and we want to create entries for them in the CRM.
- But we don't want to create entries and opportunities for all of them, we need a manual validation from the team.

For that we should dump a csv containing:
- orgs (name, contact info)
- users of orgs (name, emails, if possible, last login)
- date of creation
- number of prod

[2022-09-16 13:09] alexgarel opened #7356 "Sync data in CRM on org and user updates"
With #7351 and #7352, we creates users and orgs in the CRM.

But we need to keep data up to date in the CRM. Also we want to have in the CRM some data from the pro platform that can help target right producers, follow their journey and eventually create emails workflows.

For org we would like to track:
- date of last export to public plateform
- typology of last import (manual / csv)  (postpone i

[2022-09-16 13:09] alexgarel opened #7357 "Sync events on CRM opportunity"

[2022-09-16 20:46] alexgarel commented on #7336
:clap:

[2022-09-16 20:56] alexgarel opened #7359 "batch import existing org and users in CRM"
### Blocked on
- #7355

We can see, according to the number of entries, if we should make a script to create existing org, or if we do it manually (or something in between).

### Part of
- #7296

[2022-09-16 21:05] alexgarel commented on #7231
@pratyaksh1610 do you want to do it ?

[2022-09-17 07:09] pratyaksh1610 commented on #7231
@alexgarel Oh, I missed track of this.
Dropping a PR for the same.

[2022-09-17 15:30] M123-dev opened #7361 "Allow to get the username by email"
### Problem description
In the mobile-app we display something like "Hello Teolemon". (Not as a one time dialog, at the top of the settings).

This doesn't work when a user uses their email to login.

### Desired solution

A simple endpoint to recieve the username.

### Alternatives you have considered

A structured answer from a login endpoint, but thats out of the scope of this what seems to me

[2022-09-17 17:50] Alcadeus0 commented on #7343
Hi, I'd like to work on this issue :)

[2022-09-18 15:21] teolemon opened #7362 "Turn changes history into a table"
### What
- Turn changes history into a table for better legibility. Row should have alterning colors
- This table should be sortable, filterable and responsive, using one of the many of the shelf libraries to do so
- This table should be exposed as a table knowledge panel

### Crude mockup
<img width="834" alt="image" src="https://user-images.githubusercontent.com/1689815/190914538-98acb6a4-1c34-4

[2022-09-19 08:58] alexgarel opened #7365 "Error messages for the API should be JSON not HTML"
See https://github.com/openfoodfacts/openfoodfacts-server/pull/7331#discussion_r969616671

Currently if an error occurs, we return a text in html, even if we are serving an API call. This is impractical for the API to get the error message.

[2022-09-19 12:03] #7122 closed

[2022-09-19 12:06] alexgarel commented on #7362
That's a cool Idea, I don't know if @stephanegigandet already did the kp for this in it's redesign, but if it's not  the case  that could be an opportunity to implement this.

[2022-09-19 13:35] alexgarel commented on #7231
@pratyaksh1610 I think for this to work, we also have to taxonomize this entry, that is, add it to labels.txt in english and french, at least.

[2022-09-19 13:38] alexgarel commented on #7343
Hi @Alcadeus0 you are welcome !
First think to do might be to setup the project locally, see https://github.com/openfoodfacts/openfoodfacts-server/blob/main/docs/introduction/dev-environment-quick-start-guide.md

[2022-09-19 15:08] #7288 closed

[2022-09-19 15:08] #7330 closed

[2022-09-20 04:03] Alcadeus0 commented on #7343
Sure I'll look into it today :)

[2022-09-20 10:28] teolemon opened #7373 "test"
test

[2022-09-20 10:34] github-actions[bot] opened #7374 "Top Issues Dashboard"
A simple dashboard that lists the top issues/bugs/features and pull requests.

## Top issues

1. #2891 :+1:`9`
2. #2361 :+1:`6`
3. #3426 :+1:`4`
4. #4264 :+1:`3`
5. #3158 :+1:`3`

## Top bugs

1. #622 :+1:`3`
2. #7282 :+1:`1`
3. #6794 :+1:`1`
4. #6526 :+1:`1`
5. #6089 :+1:`1`

## Top PRs

1. #3317 :+1:`2`
2. #3364 :+1:`1`

[2022-09-20 10:40] teolemon commented on #7374
@CharlesNepote "automated Quick Wins"

[2022-09-20 15:30] stephanegigandet opened #7377 "Second page of products broken (no products shown) on Producers Platform"
### Describe the bug

On the producers platform, the 2nd page is empty.

![image](https://user-images.githubusercontent.com/8158668/191300107-e9d10118-e2db-4ccb-80e7-3ed18164acb0.png)

This seems to be related to the index-pro text shown for users who are not logged in: the products HTML is inside a div that is hidden when users are logged in.

### To Reproduce

https://world.pro.openfoodfacts.org

[2022-09-20 20:34] teolemon opened #7378 "Show the Eco-Score on world.off.org on non-logged in users"
### Problem description

Most of our traffic comes from world.off.org where we don't show the Eco-Score because we don't know the core country
This is a massive lost opportunity to educate about Eco-Score and show the value of Open Food Facts

### Desired solution

Show the Eco-Score on world.off.org on non-logged in users, possibly with a warning or a country refiner

### Number of products impac

[2022-09-21 12:23] teolemon opened #7380 "Show Robotoff questions on Product List page"
### Problem description

- You currently have to click on a product to see if there's a Robotoff question/opportunity to get the Nutri-Score/Eco-Score.

### Desired solution

- Showing Robotoff questions on Product List page would save time for contributors and allow them to get impact quicker as they browse specific facets (eg: States: Categories to be completed, or Country: United States)
- Fulf

[2022-09-21 20:52] #7377 closed

[2022-09-22 16:27] manon-corneille opened #7389 "Eco-Score page on Spanish website is broken : https://es.openfoodfacts.org/ecoscore"
### Describe the bug

URL : https://es.openfoodfacts.org/ecoscore
<img width="1350" alt="bug - ecoscore -spain" src="https://user-images.githubusercontent.com/104015489/191801289-4592d1df-3086-4805-b5d9-9a248406de33.png">

### To Reproduce

1. Click on : https://es.openfoodfacts.org/producto/3229820019307/flocons-d-avoine-bjorg#panel_ecoscore
2. Scroll down until you find the Eco-Score section
3.

[2022-09-23 07:54] alexgarel commented on #6920
@teolemon, not sure if it's about this project or mobile application ?

[2022-09-23 08:01] alexgarel commented on #7231
Note: the code displaying this, I think is in [Display.pm, display_list_of_tags](https://github.com/openfoodfacts/openfoodfacts-server/blob/978fe5de246708a035a82bccd8c1f0d41c97332a/lib/ProductOpener/Display.pm#L2256)

[2022-09-23 09:16] alexgarel commented on #7389
I'm looking at it, it might be because of a wrong redirection.

[2022-09-23 09:18] alexgarel commented on #7389
It's not broken for de only but for maybe all countries !
It's because it uses the /ecoscore shortcut which redirection seems to redirect to french named uri…

[2022-09-23 09:22] alexgarel commented on #7389
culprit is in ../off-server/conf/nginx/sites-available/off:

[code]

while this one only exists in french…

[2022-09-23 10:13] alexgarel commented on #7389
@manon-corneille it's fixed in prod, and I have a PR to keep the config.

@stephanegigandet should'nt we reflect of a  more long term solution for those specific urls / redirect.
It would be nice
1- to translate every url
2- to have all those redirection handled in a flat file (maybe the map directive used on the uri https://nginx.org/en/docs/http/ngx_http_map_module.html)

[2022-09-23 16:15] alexgarel opened #7394 "Add a test on taxonomy builder"
We would like a test with as entry a simple taxonomy but containing a lot of the features supported by taxonomies.

The test should dump the final Tags.pm structures to compare to expected results.

This would be important, so that we can test that we have same behaviour for taxonomy-editor parsing library (see also https://github.com/openfoodfacts/taxonomy-editor/issues/90)

[2022-09-23 16:18] raphael0202 commented on #6273
Is this issue still relevant? It seems the change is done in production, I can only find gzipped OCR JSON file.

[2022-09-26 07:52] stephanegigandet commented on #7389
There's a proposal for a long term solution here: https://github.com/openfoodfacts/openfoodfacts-server/issues/1818

[2022-09-26 07:57] teolemon commented on #1818
We could use a simple Wordpress instance, with a system to sync pages to Crowdin. This works pretty well for the blog.

[2022-09-26 07:58] stephanegigandet commented on #7394
We have a test taxonomy for that: https://github.com/openfoodfacts/openfoodfacts-server/blob/main/taxonomies/test.txt (and the resulting structure is in test.results.sto)

It's certainly missing some features though, we can add them.

[2022-09-26 10:37] stephanegigandet opened #7400 "Error when loading some Agena3000 files in producers platform"
### Describe the bug

The JSON to OFF TSV conversion script fails for some product files sent through Agena3000:

srv/off-pro/scripts/convert_gs1_json_to_off_csv.pl --input-dir /srv2/off-pro/agena3000-data-tmp --output /srv2/off-pro/agena3000-data-tmp/agena3000-data.tsv --confirmation-dir /srv2/off-pro/agena3000-data-tmp/Ack

Not a HASH reference at ProductOpener/GS1.pm line 1060.

Corresponding l

[2022-09-26 10:39] stephanegigandet commented on #7400
This happens when we have serving size description in multiple languages:

                                                "servingSizeDescription" : [
                                                   {
                                                      "languageCode" : "fr",
                                                      "$t" : "30 g"

[2022-09-26 14:30] alexgarel commented on #3158
We can close this issue, you can test it on openfoodfacts.net

[2022-09-26 14:30] #3158 closed

[2022-09-26 18:03] CharlesNepote commented on #7374
Yes great, @teolemon. The issue is that you have just one point per issue, but better done than perfect.

[2022-09-27 09:34] #7400 closed

[2022-09-27 09:34] alexgarel commented on #6273
Still relevant, see https://github.com/openfoodfacts/openfoodfacts-server/blob/main/lib/ProductOpener/Images.pm#L1833 we do not compress yet…

[2022-09-27 09:38] alexgarel commented on #1818
Yes I'de really advocate to choose a CMS and either proxy it from nginx or perl, but avoid re-implementing a CMS :grimacing:

[2022-09-27 09:40] alexgarel commented on #7394
Ok, we should improve this example.

[2022-09-27 10:14] raphael0202 commented on #6273
As a summary (because the previous exchange on this thread does not reflect the current status):
- A script has been run by @cquest to compress all OCR JSON (gzip) on the production server
- The current nginx config has been updated (both on prod and on openfoodfacts-server repository) to allow to serve gzipped JSON
- What needs yet to be done to close this issue is to save the OCR JSON as a gzipp

[2022-09-27 10:19] raphael0202 commented on #3158
I've just tried it on dev instance, the vote is indeed registered on Robotoff dev :+1:

[2022-09-27 12:29] #7231 closed

[2022-09-28 11:50] stephanegigandet opened #7410 "NEW DESIGN: Improve footer for pages smaller than the screen"

[2022-09-28 11:53] stephanegigandet opened #7411 "NEW DESIGN: Update tables styles according to Figma mockup"

[2022-09-28 11:55] stephanegigandet opened #7412 "NEW DESIGN: Move donation banner close button to top right"
### What
- The donation banner should have a close button at the top right, instead of the current message.

### Part of
- #7295

### Current
![image](https://user-images.githubusercontent.com/8158668/192773022-71c4adba-4850-424e-b67c-f7113befd95c.png)

### Mockup
![image](https://user-images.githubusercontent.com/8158668/192772843-c09dca75-15a2-4562-a812-3801ac327c24.png)

[2022-09-28 11:58] stephanegigandet opened #7413 "NEW DESIGN: Implement new front page according to Figma mockup"

[2022-09-28 14:56] yashfalke77 commented on #7410
hey @stephanegigandet  can i work on this issue?

[2022-09-28 14:56] yashfalke77 commented on #7412
hey @stephanegigandet can i work on this issue?

[2022-09-28 15:29] alexgarel opened #7415 "NEW DESIGN: header is hiding target of fragment"
On the product Edit page, we have a link to explain why users should take infos from the package. It leads to
https://world.openfoodfacts.dev/faq#pictures_and_data_from_other_sites

But as you click it, you don't see the question, because it is hidden by the header (floating).

I think it's something we can fix.

more annoying it also affects actions in panels like "add a category", which links to

[2022-09-28 15:44] alexgarel commented on #7415
There is a JS for that, it works if I reload the page but not on first opening… :-/

[2022-09-28 20:52] sdeepanshu17 commented on #7410
Hey, Can I work on this issue?

[2022-09-28 20:59] sdeepanshu17 commented on #7411
Please assign this issue to me.

[2022-09-29 03:41] aakankshabhende commented on #7266
@aleene @yuktea will I have to add synonyms of vegetable protein in different languages?
My work is almost done, will make a PR soon

[2022-09-29 04:04] aakankshabhende commented on #7266
remote: Permission to openfoodfacts/openfoodfacts-server.git denied to aakankshabhende.
I'm facing this issue while making a PR through gitpod

[2022-09-29 05:26] yuktea commented on #7266
@aakankshabhende: I suggest you should make a fork first

[2022-09-29 06:08] aakankshabhende commented on #7266
I forked it

On Thu, Sep 29, 2022, 10:56 AM Yukti ***@***.***> wrote:

[2022-09-29 07:28] yuktea commented on #7266
are you sure you're making changes to your own fork? pushing it to your own fork shouldn't throw that error ideally

[2022-09-29 07:36] stephanegigandet commented on #7412
Hi @yashfalke77 , sure!

[2022-09-29 07:39] stephanegigandet commented on #7412
@yashfalke77 This bug is on the new "redesign2" branch, there is more details on how to deploy / test etc. in this meta bug: https://github.com/openfoodfacts/openfoodfacts-server/issues/7295

[2022-09-29 07:40] stephanegigandet commented on #7410
Hi @yashfalke77 and @sdeepanshu17 , thanks for volunteering. :) Maybe @sdeepanshu17 can try this one, as you already have another bug assigned to you @yashfalke77 . Please don't hesitate to suggest ways to fix this in comments etc. Thank you!

This bug is on the new "redesign2" branch, there is more details on how to deploy / test etc. in this meta bug: https://github.com/openfoodfacts/openfoodfac

[2022-09-29 09:12] alexgarel commented on #7415
The js is in scrollNav.js

[Relevant code](https://github.com/openfoodfacts/openfoodfacts-server/blob/redesign2/html/js/scrollNav.js#L131):
[code]

Of course if you use debugger, it's working fine :-D so this is a race condition. Maybe just adding a small delay (triggering the scrollto using a timer) might fix it…

[2022-09-29 15:05] stephanegigandet commented on #7415
I can replicate it in Firefox, but not Chrome.

![image](https://user-images.githubusercontent.com/8158668/193068236-c52d8779-bdc2-4492-842a-61f981fe99f1.png)

[2022-09-29 15:16] stephanegigandet commented on #7411
Hi @sdeepanshu17 , I just did.

[2022-09-29 16:33] JoseJaramillo04 opened #7422 "Social media link preview missing website description"
# What

- [ ] Add a brief description of OpenFoodFacts to the social media link preview

![WhatsApp Image 2022-09-29 at 11 22 32 AM](https://user-images.githubusercontent.com/71108160/193087495-dd37de3b-e044-438d-b971-9ad946ea17dc.jpeg)

[2022-09-30 06:41] aakankshabhende commented on #7266
Please check my PR #7425
Thanks a lot for your help @yuktea 😊

[2022-09-30 11:39] rickstaa commented on #7374
@teolemon First of all, thanks for trying out my action. I created it to manage the issues in https://github.com/anuraghazra/github-readme-stats better, but it is amazing that people are trying whether it also works for their projects. @CharlesNepote Feel free to create a feature request or pull request if you think the issue can still be improved 🚀.

[2022-09-30 19:40] sdeepanshu17 commented on #7411
I will not be able to work on this issue. Please assign it to someone else. Sorry for the inconvenience caused.

[2022-09-30 20:52] Edrees-creator commented on #7411
is this issue still open?

[2022-09-30 20:55] Edrees-creator commented on #7349
can I contribute to this project?

[2022-10-01 08:09] Nainish-Rai commented on #7412
hey, I want to contribute, Please assign me so that I can start working on it.

[2022-10-02 07:30] kaneki-dot commented on #7301
@stephanegigandet I want to contribute to this project, how can I start with this  Issue  I am new to open source.
I am currently learning Android, C++, Python, and Kotlin.

[2022-10-02 16:21] yesimhozman commented on #7411
can you assign it to me?

[2022-10-02 18:40] teolemon commented on #7411
Yes it is @Edrees-creator , do you have a working dev environment yet ?

[2022-10-03 07:43] aakankshabhende commented on #7316
@yuktea @alexgarel Can I work on this issue?

[2022-10-03 07:56] aakankshabhende commented on #3361
Can I work on this issue @stephanegigandet ?

[2022-10-03 07:58] aakankshabhende commented on #2359
Can I work on this issue @teolemon ?

[2022-10-03 08:02] aakankshabhende commented on #3964
Can I work on this issue @aleksejrs ?

[2022-10-03 08:04] aakankshabhende commented on #5002
Can I work on this issue @teolemon ?

[2022-10-03 08:46] teolemon opened #7433 "Logic error in the Producer section of user profile"
### What
- Logic error in the Producer section of user profile
- Will warn of an error with Cacolac
### Steps to reproduce:
- as an admin, try to convert an account to producer.
https://world.openfoodfacts.org/cgi/user.pl?userid=XXXX&type=edit&action=display (specific user available on request)
<img width="1061" alt="image" src="https://user-images.githubusercontent.com/1689815/193536345-9a5612d9-

[2022-10-03 08:50] stephanegigandet opened #7434 "NEW DESIGN: Your contributions links in user menus are not set"
### What
- These links have no `href=""` attribute so they redirect to main page (From @VaiTon)

### Screenshots
![image](https://user-images.githubusercontent.com/8158668/193537389-356c9f6b-0a16-4f3a-bb4d-361bd0a9d975.png)
![image](https://user-images.githubusercontent.com/8158668/193537406-9f25d7f3-9e32-4f28-87a4-0b0f200e41de.png)
### Part of
- #7295

[2022-10-03 09:35] #239 closed

[2022-10-03 10:29] aleksejrs commented on #3964
I guess you don't need to ask anyone.

[2022-10-04 10:14] alexgarel commented on #7349
@Edrees-creator please do :-) Every help is really welcome.

[2022-10-04 10:30] alexgarel commented on #7433
The warning is correct, it's to tell the user it needs approval from the team. (But maybe your bug is about the value being removed ?)

[2022-10-04 10:33] alexgarel commented on #7316
@aakankshabhende, please do :-) Feel free to work on issues, a comment stipulating you work on this is enough.

[2022-10-04 13:15] teolemon commented on #7433
It's that I was on the public platform, as an admin, on a user unrelated to Cacolac I believe

[2022-10-04 13:19] stephanegigandet commented on #7301
Hi @kaneki-dot, welcome! The Open Food Facts backend is coded in Perl. This issue has been fixed already.

[2022-10-04 13:19] #7301 closed

[2022-10-04 13:21] #7265 closed

[2022-10-04 13:22] stephanegigandet commented on #3361
@aakankshabhende sure, thank you!

[2022-10-04 13:59] teolemon commented on #1896
I believe those concerned have all been addressed, and that Hunger Games is ready for prime time.
I'm closing this issue

[2022-10-04 13:59] #1896 closed

[2022-10-04 14:49] Anurag-Singh-04 commented on #7434
Hey @stephanegigandet how can I contribute to this project.

[2022-10-04 15:25] Jagrutiti opened #7439 "Android app give no option to extract nutrition/ingredients from image when nutrition/ingredients image is uploaded"
### Describe the bug

I was adding this product in the Android app: https://world.openfoodfacts.org/product/8904052566069/vanilla-ice-cream-dinshaw

I uploaded the `nutrition` image. But it did not give me an option to extract nutrition data from the image. I only had the option to add it manually. As far as I remember, earlier, there was an option to extract nutrition data from the image itself.

[2022-10-04 17:41] VaiTon commented on #7266
Despite being in the ingredients taxonomy, it's still an issue:

https://github.com/openfoodfacts/openfoodfacts-server/blob/174b8e3c68846835ad27589f24713b1c0d15d70f/taxonomies/ingredients.txt#L28755

[2022-10-04 18:04] aleene commented on #7266
If you open https://world.openfoodfacts.org/ingredient/vegetable-protein it works

[2022-10-04 18:05] aleene commented on #7266
Also from us.openfoodfacts.org. So there is a non-taxonomy issue.

[2022-10-05 14:23] teolemon opened #7446 "API Documentation using OpenAPI (tracker)"
### What
- We are moving the API documentation away from https://github.com/openfoodfacts/api-documentation to the api-documentation, making it live next to the sourcecode, and migrating it from Postman format to OpenAPI.
- The current output of the [new OpenAPI doc is here](https://openfoodfacts.github.io/openfoodfacts-server/reference/api/).
- This issue tracks this migration, and everything rel

[2022-10-05 19:12] hhaider00 commented on #7362
Hello I would like to contribute to this project and am a beginner to open source contribution, is this issue still available?

[2022-10-06 02:18] JoseJaramillo04 commented on #7422
I will go ahead and tackle this issue myself, expect fix soon

[2022-10-06 03:37] aakankshabhende commented on #2359
To what should I translate the anchors? @teolemon

[2022-10-06 07:54] stephanegigandet opened #7447 "Document existing system for logos images in taxonomies and design new system"
### Problem description

Some taxonomy entries (in particular labels) have associated logo images that we display on the website. How to add those images is not obvious:

- images must be SVG or PNG
- the height of the image must be 90 pixels (because on the website we display them at 90 pixels height)
- the filename must end with [width]x90.[svg|png] to indicate the width of the image when the he

[2022-10-06 08:11] manon-corneille opened #7448 "Better graphs and market insights in the Pro Platform"
### Problem description

Request from a producer : they would like to be able to visualise their products with :
- Nutri-Score as vertical axe
- Nova score as horizontal axe

This would help them understand the correlation between both indices.

### Desired solution

In the "advanced research" section of the public and Pro platform, it would be great to be able to select "Nova Group" and "Eco-Scor

[2022-10-06 08:16] manon-corneille commented on #7305
Up :-)

[2022-10-06 08:44] manon-corneille opened #7449 "Highlight the products of a specific brand in a different color"
### Problem description

To help producers understand their positioning in relation to their competitor, it would be helpful to have an option to highlight in a different color the products of a certain brand.

Example with this [graph](https://fr.openfoodfacts.org/cgi/search.pl?action=process&tagtype_0=categories&tag_contains_0=contains&tag_0=biscuit&sort_by=unique_scans_n&page_size=20&axis_x=sug

[2022-10-06 08:45] stephanegigandet opened #7450 "Support for updated Nutri-Score formula and comparison between old and new Nutriscore"
### Problem description

The Nutri-Score formula is going to be updated:
https://www.aesan.gob.es/AECOSAN/docs/documentos/Nutri_Score/2022_main_algorithm_report_update_FINAL.pdf

The EREN research team is very interested in having the new formula computed on OFF.

### Desired solution

Compute both the old and new Nutri-Score, enable comparisons.

### Part of
- #5517

[2022-10-06 08:47] stephanegigandet commented on #7450
The PDF contains a summary of the changes:

− In the main algorithm
o A modified Sugars component, using a point allocation scale aligned with the FIC
regulation of 3.75% of the 90 g reference value, with up to 15 points [1]
o A modified Salt component, using a point allocation scale aligned with the FIC
regulation of 3.75% of the 6 g reference value, with up to 20 points
o A modified Fibres compo

[2022-10-06 08:51] alexgarel commented on #7447
I would say, have the file name in the taxonomy, it would be some kind of self documentation.

For size, maybe add a check in the CI ?

[2022-10-06 10:35] stephanegigandet commented on #7434
Fixed.

[2022-10-06 10:35] #7434 closed

[2022-10-06 11:36] aleene commented on #7447
Also these images should percolate to Robotoff.

[2022-10-06 15:45] teolemon opened #7452 "We should fast-track the translation of the ingredient-analysis, nova taxonomy"
### What
- We should fast-track the translation of the ingredient-analysis and nova_groups taxonomy in as many languages as possible, since it's visible on 100% of product pages (unlike other taxonomies, where only a tiny fraction is visible each time)
  - https://github.com/openfoodfacts/openfoodfacts-server/blob/main/taxonomies/ingredients_analysis.txt
  - https://github.com/openfoodfacts/openfo

[2022-10-07 13:21] manon-corneille commented on #6931
Hi guys, any idea of when this issue will be resolved please? It's preventing org-bonduelle to import their data

[2022-10-07 13:22] manon-corneille commented on #7021
Hi guys, any idea of when this issue will be resolved please? It's preventing org-bonduelle to import their data

[2022-10-07 15:59] alexgarel commented on #6921
I close as it will be push with the new design #7295

[2022-10-07 15:59] #6921 closed

[2022-10-10 08:13] alexgarel commented on #7433
Shall it be closed then, or is there a real bug ?

[2022-10-10 08:25] alexgarel commented on #7362
@hhaider00 welcome :-) (sorry for the delay)
there is a caveat here, is that we are re-working the look and feel of the site. So you should not start from main branch, but from redesign2 branch (make a branch on top of it).

You first to need to setup the product locally (you will need docker) or using gitpod , see https://openfoodfacts.github.io/openfoodfacts-server/introduction/dev-environment-q

[2022-10-10 12:49] alexgarel commented on #7415
It works now, thanks to the timeout.

[2022-10-10 12:49] #7415 closed

[2022-10-10 13:01] stephanegigandet commented on #7306
Partially fixed, current state:

![image](https://user-images.githubusercontent.com/8158668/194872160-fb13129a-e85c-4948-8581-6334994dcdaa.png)

[2022-10-10 13:02] stephanegigandet commented on #7349
Fixed by @LandonPattison

[2022-10-10 13:02] #7349 closed

[2022-10-10 13:52] stephanegigandet opened #7464 "NEW DESIGN: Sign-in button does not work on product page: empty modal"
### What
- We try to open a modal on sign-in, but only on product pages it seems.

`<a href="/cgi/session.pl" data-reveal-id="loginmodal" class="round button secondary">
`
Should probably just remove the data-reveal-id

### Part of
- #7295

[2022-10-10 14:56] #7361 closed

[2022-10-10 14:57] VaiTon opened #7465 "docs: write documentation for the /cgi/auth.pl endpoint"
### What
- From https://github.com/openfoodfacts/openfoodfacts-server/pull/7455

### Part of
- #7446

[2022-10-10 16:57] alexgarel opened #7468 "Deploy openfoodfacts-search to staging"
We merged #7239 but we now need to add the REDIS_URL parameter to staging to test it for real.

[2022-10-10 17:29] CharlesNepote opened #7469 "3 fields for the origins? (very confusing)"
### Describe the bug

[draft to be continued]

When modifying a product in Product opener we can see three different fields to cover the origin of the products or the origin of the ingredients:
* 1, Manufacturing or processing places
  * "Examples: Montana, USA"
  * no auto-completion
  * technical name: manufacturing_places
  * normalized: manufacturing_places_tags
* 2, Origin of the product **an

[2022-10-11 08:22] alexgarel opened #7472 "Create a TOC for perldocumentation"
We deploy https://openfoodfacts.github.io/openfoodfacts-server/perl/ but it's barely usable as is because there is no high level introduction.

We should write an introduction that gives an overview of main modules and important functions within them, with link to their documentation.

[2022-10-11 10:03] stephanegigandet commented on #7469
What do you suggest by "clearly document"?

The 1st and 3rd one contain locations.

The 2nd one contains more complex information, like which ingredient comes from which place.

It is a mix of manufacturing / origins of ingredients which is not ideal, but that's what we often get from producers, there is a 1 field in GS1 for "origins", and it's a text field where producers put what they want.

The

[2022-10-11 10:03] #7464 closed

[2022-10-11 11:12] teolemon commented on #3361
<img width="1165" alt="image" src="https://user-images.githubusercontent.com/1689815/195075507-17919b53-8a19-4948-91b7-1c7de881f0f2.png">

[2022-10-11 11:13] teolemon commented on #6802
Nice 404 page from Hunger Games
<img width="1165" alt="image" src="https://user-images.githubusercontent.com/1689815/195075593-3aeb2e48-da55-4be7-be17-6d9eca164b97.png">

[2022-10-11 11:20] teolemon opened #7473 "Duplicate the Analysis of Ingredients knowledge panel for packaging"
### Problem description

Duplicate the Analysis of Ingredients knowledge panel for packaging
<img width="499" alt="image" src="https://user-images.githubusercontent.com/1689815/195076792-0c6b900f-fde5-4606-8cfc-107e2444f17f.png">

### Desired solution

This way, we'll have a feedback loop for improvements

### Alternatives you have considered

_No response_

### Additional context

_No response_

[2022-10-11 12:22] stephanegigandet opened #7474 "NEW DESIGN: Host Google font for Material icons locally"
### What
- The Material Icon font is currently loaded from Google servers. It would be best to host it locally.
### Part of
- #7295

[2022-10-11 12:33] raphael0202 opened #7475 "Update Robotoff question banner colors according to new OFF colors"
The colors (blue banner + button colors) don't go well with the new redesign (see screenshot).
It could also be a good idea to add a margin between answer buttons.
![Capture d’écran du 2022-10-11 14-26-25](https://user-images.githubusercontent.com/9609923/195090997-cfdf471d-4f26-4261-afda-6126996f73b9.png)

[2022-10-11 12:45] alexgarel opened #7476 "Have the "modify" button always visible (on the right of section selection)"

[2022-10-11 12:49] teolemon commented on #2407
We just deployed a new design, but without dark mode so far. Halloween is just around the corner. Can we turn the orange into a pumpkin by then ?

[2022-10-11 12:52] teolemon commented on #2407
<img width="1435" alt="image" src="https://user-images.githubusercontent.com/1689815/195095613-181c0fb3-428d-4df3-b9b5-d384528adf11.png">

[2022-10-11 13:03] aleene commented on #7295
*I can add multiple tabs for the same language in the properties. Seems more like that the tab was doubled when adding a new language.
* I can not edit the product name in the new language.
<img width="474" alt="Screenshot 2022-10-11 at 15 03 12" src="https://user-images.githubusercontent.com/1329905/195098245-6b9f3fd6-f56e-4dc3-aba3-3f7a485539c6.png">

[2022-10-11 13:05] aleene commented on #7295
When editing a new language there is no easy access the the FOP image. I have to scroll down to the ingredients, or switch back to the main language tab.

[2022-10-11 13:07] aleene commented on #7295
Adding a language for image or ingredients does not make appear a tab.
<img width="426" alt="Screenshot 2022-10-11 at 15 06 43" src="https://user-images.githubusercontent.com/1329905/195099121-30af235e-5003-4122-a134-0baece5ab8a7.png">

[2022-10-11 13:08] aleene commented on #7295
Can not cancel an edit, nothing happens when I press the button.

[2022-10-11 13:15] teolemon opened #7477 "NEW DESIGN - product-multilingual.js:660 Uncaught TypeError: Cannot read properties of undefined (reading 'replace')"
### What
- While trying to add a new language to the product

product-multilingual.js:660 Uncaught TypeError: Cannot read properties of undefined (reading 'replace')
    at Y.fn.init.init (product-multilingual.js:660:25)
    at e.fn.selectcrop (product-multilingual.js:881:36)
    at HTMLLIElement.<anonymous> (product-multilingual.js:117:46)
    at Function.each (jquery.js? [sm]:14:12113)
    at Y.

[2022-10-11 13:28] #4976 closed

[2022-10-11 13:30] teolemon opened #7478 "NEW DESIGN - Can not cancel an edit, nothing happens when I press the button."
- [ ] Can not cancel an edit, nothing happens when I press the button.

_Originally posted by @aleene in https://github.com/openfoodfacts/openfoodfacts-server/issues/7295#issuecomment-1274662519_

[2022-10-11 13:44] teolemon opened #7480 "New design - 'arrow_upward' asset missing in editing mode"
### What
-New design - arrow_upward asset missing in editing mode
### Part of
- #7295
### Screenshot
<img width="263" alt="image" src="https://user-images.githubusercontent.com/1689815/195107679-40b76f17-a3b1-466a-87e8-7bf1bd8bdab7.png">

[2022-10-11 14:04] teolemon opened #7482 "Docker install seems broken"
### Describe the bug

[code]

### To Reproduce

See failing builds

[2022-10-11 14:13] teolemon opened #7483 "Adding a language for image or ingredients does not make appear a tab."
### What
- Adding a language for image or ingredients does not make appear a tab.

### Possibly related
- #7477

### Screenshot
<img width="426" alt="Screenshot 2022-10-11 at 15 06 43" src="https://user-images.githubusercontent.com/1329905/195099121-30af235e-5003-4122-a134-0baece5ab8a7.png">

_Originally posted by @aleene in https://github.com/openfoodfacts/openfoodfacts-server/issues/7295#issueco

[2022-10-11 14:16] alexgarel commented on #7482
Seems to be transient and back to normal https://github.com/openfoodfacts/openfoodfacts-server/actions/workflows/container-build.yml

[2022-10-11 14:16] #7482 closed

[2022-10-11 14:20] stephanegigandet commented on #7483
Same as #7477, Fixed by https://github.com/openfoodfacts/openfoodfacts-server/pull/7479

[2022-10-11 14:23] #7477 closed

[2022-10-11 14:30] stephanegigandet opened #7485 "NEW DESIGN: in product list, product without images have a white on white silhouette icon"

[2022-10-11 14:31] teolemon opened #7486 "The Creative Commons button is broken"
### What
- The Creative Commons button is broken
- https://world.openfoodfacts.org/cgi/product_image.pl?code=&id=ingredients_pl
### Screenshot
<img width="326" alt="image" src="https://user-images.githubusercontent.com/1689815/195119713-67194a37-ecae-4e8b-928b-ad67f739a32e.png">

[2022-10-11 14:59] #7480 closed

[2022-10-11 15:14] teolemon opened #7488 "NEW DESIGN - Capitalization issue in the sign-up form"
### What

- [ ] Capitalization issue in the sign-up form
![image](https://user-images.githubusercontent.com/1689815/195128450-15755497-dd0a-4acc-94a0-dcd6a657fc23.png)
### Screenshot

### Part of
- #7295

[2022-10-11 15:16] teolemon opened #7489 "NEW DESIGN - The arrow is not centered in Manage image button"
### What
- [ ] The arrow is not centered in Manage image button

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195128626-775081e3-57c4-4c5f-848e-db78f5961978.png)
### Part of
- #7295

[2022-10-11 15:24] teolemon opened #7491 "NEW DESIGN - Capitalization issue in the user page"
### What

- [ ] Capitalization issue in the user page
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195128388-d7568126-5232-476b-8fd7-20b78be99d10.png)
### Part of
- #7295

[2022-10-11 15:25] teolemon opened #7492 "NEW DESIGN - Personal search settings are too narrow in mobile mode"
### What

- [ ] Personal search settings are too narrow in mobile mode
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195128219-31b3a706-6593-4573-95b9-3e8fcd676f42.png)
### Part of
- #7295

[2022-10-11 15:27] teolemon opened #7493 "NEW DESIGN - Not enough padding between the change summary, and the cancel, or confirm button in edit mode"
### What

- [ ] Not enough padding between the change summary, and the cancel, or confirm button in edit mode
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195129039-2042eb05-5117-4da5-beb7-7050682c7312.png)
### Part of
- #7295

[2022-10-11 15:27] teolemon opened #7494 "NEW DESIGN - The go up button in edit mode should not overlap with the change summary"
### What

- [ ] The go up button in edit mode should not overlap with the change summary
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195128959-0c76268d-09d4-4d49-af18-075a9901754a.png)
### Part of
- #7295

[2022-10-11 15:28] teolemon opened #7495 "NEW DESIGN - Not enough padding between tabs in edit mode in responsive view"
### What

- [ ] Not enough padding between tabs in edit mode in responsive view
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195129320-de9a5a5b-dd31-401b-9dfb-a8420b17adc0.png)
### Part of
- #7295

[2022-10-11 15:29] teolemon opened #7496 "NEW DESIGN - Long username should be wrapped in the data source card"
### What

- [ ] Long username should be wrapped in the data source card
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195129438-6ff348e3-4679-4a86-aead-c4540fa5e7da.png)
### Part of
- #7295

[2022-10-11 15:31] teolemon opened #7497 "NEW DESIGN - The action menu should be on the left of the Open Food Facts logo when scrolling"
### What

- [ ] The action menu should be on the left of the Open Food Facts logo when scrolling
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195129501-665aea40-bc1a-4fe8-9c45-f19f0721242f.png)
![image](https://user-images.githubusercontent.com/1689815/195129547-1ee41964-7f6e-496f-b850-dd5fe0178c03.png)
### Part of
- #7295

[2022-10-11 15:32] teolemon opened #7498 "NEW DESIGN - Content should have some left and right margins in responsive mode"
### What

- [ ] Content should have some left and right margins in responsive mode
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195129625-88e7b4b9-d041-4469-a1dd-47c906c22581.png)
![image](https://user-images.githubusercontent.com/1689815/195129699-1067e99c-3391-43c0-9096-be74869f80b4.png)
![image](https://user-images.githubusercontent.com/1689815/195129960-d31aa653-b8

[2022-10-11 15:33] teolemon opened #7499 "NEW DESIGN - The product name is scattered in responsive mode on product lists"
### What

- [ ] The product name is scattered in responsive mode on product lists
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195129776-c96bbe30-5335-4ec6-b7c0-bcb106448240.png)
### Part of
- #7295

[2022-10-11 15:34] teolemon opened #7500 "NEW DESIGN - We should have nicer, looking titles, possibly reusing the ones in the install the app promo (and like in our presentations)"
### What

- [ ] We should have nicer, looking titles, possibly reusing the ones in the install the app promo (and like in our presentations)
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195129834-2f110be3-07af-4858-90a4-1270c9a4e192.png)
### Part of
- #7295

[2022-10-11 15:35] teolemon opened #7501 "NEW DESIGN - We should add back arrow in the menu in responsive mode"
### What

- [ ] We should add back arrow in the menu in responsive mode
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195129893-6ff0eaa4-62ff-4ec6-a161-d2124f17a35a.png)
### Part of
- #7295

[2022-10-11 15:35] teolemon opened #7502 "NEW DESIGN - Product name is truncated (JS disabled only ?)"
### What

- [ ] Product name is truncated (JS disabled only ?)
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195130318-409faadf-d217-4e01-b434-4b90166d6c02.png)
### Part of
- #7295

[2022-10-11 15:36] teolemon opened #7503 "NEW DESIGN - We should try to display cards when JavaScript is disabled"
### What

- [ ] We should try to display cards when JavaScript is disabled
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195130118-85b4e687-f3a3-4b30-a075-ff7b50533b8b.png)
### Part of
- #7295

[2022-10-11 15:37] teolemon opened #7504 "NEW DESIGN - We should try to avoid a blank when JavaScript is disabled"
### What

- [ ] We should try to avoid a blank when JavaScript is disabled
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195130416-6854be89-7eaf-414d-a5f0-b511b11a4d39.png)
### Part of
- #7295

[2022-10-11 15:38] teolemon opened #7505 "NEW DESIGN - The Sort icon is too small in responsive mode"
### What
- [ ] The Sort icon is too small in responsive mode
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195130464-45b30a9e-b3fe-49e4-8f54-0244d35a836e.png)
### Part of
- #7295

[2022-10-11 15:57] teolemon opened #7506 "The Advanced Search deeplink should not be visible on the homepage"
### What
- The Advanced Search deeplink should not be visible on the homepage

### Part of
- #7295
### Screenshot
<img width="604" alt="image" src="https://user-images.githubusercontent.com/1689815/195141036-618c4f9e-b007-478f-99e7-079c461aa49f.png">

[2022-10-11 16:00] stephanegigandet commented on #7497
Adding a logo when scrolling and thus moving the OFF logo to the right when scrolling would look quite weird IMHO.

[2022-10-11 16:38] teolemon commented on #7497
Honestly, I could see it there all the time
![image](https://user-images.githubusercontent.com/1689815/195149666-692a06de-e924-47cc-aabe-0541febc6c44.png)
![image](https://user-images.githubusercontent.com/1689815/195149822-3fe56bcc-da71-48bc-80e5-afc589a6b837.png)

[2022-10-11 17:54] teolemon opened #7507 "Update the EQUADIS logo"
### What
- EQUADIS has rebranded
- Update the EQUADIS logo
- https://equadis.com/
### Part of
- #5521

[2022-10-11 19:46] #7478 closed

[2022-10-11 19:46] #7485 closed

[2022-10-11 19:46] #7486 closed

[2022-10-12 07:45] teolemon opened #7508 "NEW DESIGN - Not enough padding between filters in responsive view"
### What

- [ ] Not enough padding between filters in responsive view
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/195281634-c5b7cd83-bfc3-4df1-8f9b-78bd32130a5d.png)
### Part of
- #7295

[2022-10-12 07:58] teolemon opened #7509 "NEW DESIGN - z-index of the map is weird"
### What
- z-index of the map is weird
<img width="295" alt="image" src="https://user-images.githubusercontent.com/1689815/195284363-733328c6-8236-4bdb-88eb-689f8ead0d60.png">
### Part of
- #7295

[2022-10-12 07:59] teolemon opened #7510 "NEW DESIGN - Product revisions should be a collapsible knowledge panel"
### What
- Product revisions should be a collapsible knowledge panel

### Screenshot
<img width="295" alt="image" src="https://user-images.githubusercontent.com/1689815/195284863-93018982-e214-41f5-b9d1-daad3c627de3.png">
### Part of
- #7295

[2022-10-12 08:01] teolemon opened #7511 "NEW DESIGN - Folksonomy engine should follow the knowledge panels grammar"
### What
- Folksonomy engine should follow the knowledge panels grammar
### Screenshot
<img width="295" alt="image" src="https://user-images.githubusercontent.com/1689815/195285189-3e673e1e-93a9-4f07-a34d-e515f9277f7a.png">

### Part of
- #7295

[2022-10-12 08:31] teolemon opened #7512 "Duplicated question mark in the product deletion screen"
### What
- Duplicated question mark in the product deletion screen

### Screenshot

<img width="930" alt="image" src="https://user-images.githubusercontent.com/1689815/195292060-0a7772c4-7e3d-4339-a81f-7e414a0739af.png">

### Part of
- #7295

[2022-10-12 08:39] teolemon opened #7513 "NEW DESIGN - Robotoff questions looks out of place"
### What
- Robotoff questions looks out of place
- Buttons are too close to one another
- The Close button is too small and not in the right place

### Screenshot

<img width="638" alt="image" src="https://user-images.githubusercontent.com/1689815/195294113-88dc18f2-44db-44ff-aebd-9ef7589554bd.png">

### Code pointers
- https://github.com/openfoodfacts/openfoodfacts-server/blob/34a46b891c1a7195a5d

[2022-10-12 09:10] teolemon opened #7514 "Fix or Silence SonarCloud about Regex danger"
### What
- We have a red build because Sonarcloud is warning us about exponential backtracking on a Regex
- Either Fix the regex or Silence SonarCloud about Regex danger
- https://sonarcloud.io/project/security_hotspots?id=openfoodfacts_openfoodfacts-server&hotspots=AXvohTmvKtyiYifGNfFe

### Part of
- Devops

[2022-10-12 10:35] Such6 commented on #7494
Can you assign me this issue

[2022-10-12 11:27] raphael0202 commented on #7295
Two bugs I just spotted:
- After editing a product, I can't cancel the edit
- When trying to delete an image, the image is not highlighted when clicked

[2022-10-12 13:38] stephanegigandet opened #7518 "NEW DESIGN: front product photo edit should be above product characteristics"
In the product edit form, selecting the front photo is now below the product characteristics. We should put it back above them.

[2022-10-12 13:55] teolemon opened #7519 "NEW DESIGN - Bring back the unselect image buttons"

[2022-10-12 13:56] teolemon opened #7520 "NEW DESIGN - Bring back the inline editing of ingredients"

[2022-10-12 14:02] teolemon opened #7521 "NEW DESIGN - Reintroduce product addition from the web ?"
### What
- NEW DESIGN - Reintroduce product addition from the web ?
### Screenshot
<img width="249" alt="image" src="https://user-images.githubusercontent.com/1689815/195384576-5c5becc5-8e5f-4d01-8825-6115abdc49cb.png">

### Part of
- #7295

[2022-10-12 14:02] teolemon opened #7522 "NEW DESIGN - When trying to delete an image, the image is not highlighted when clicked"
### What
- When trying to delete an image, the image is not highlighted when clicked

### Screenshot
<img width="497" alt="image" src="https://user-images.githubusercontent.com/1689815/195385040-95178daa-94df-4ee9-8efa-a9e5c7708d86.png">

### Part of
- #7295

[2022-10-12 14:04] teolemon opened #7523 "NEW DESIGN - Reintroduce → products from the mobile app that need to be completed"
### What
-  Reintroduce "→ products from the mobile app that need to be completed"
### Why
- Provides the latest products quickly for contributors
### Screenshot
<img width="497" alt="image" src="https://user-images.githubusercontent.com/1689815/195384673-4150c3ca-d5dd-4ba9-937a-78bda8646189.png">

### Part of
- #7295

[2022-10-12 14:10] teolemon commented on #7295
@raphael0202 weird:
- https://github.com/openfoodfacts/openfoodfacts-server/pull/7487
- filed: https://github.com/openfoodfacts/openfoodfacts-server/issues/7522

[2022-10-12 16:24] teolemon commented on #7475
Ah, See #7513

[2022-10-12 16:25] teolemon commented on #7475
On the question of color, with a beige, I'm afraid it might become invisible like in the new app. Blue is a distinctive voice/color, often associated with technology.

[2022-10-12 16:50] teolemon opened #7525 "Folksonomy Engine (tracker)"
### What

- [ ] #7511
- [ ] #7267
- [ ] #6176
- [ ] #6169
- [ ] #6065
- [ ] #5556
- [ ] #1320
- [ ] #832

### Why
- Modelling very different products in Open Products Facts without a rigid structure

### See also
- https://wiki.openfoodfacts.org/Folksonomy_Engine
### Part of
- #5529

[2022-10-12 17:46] teolemon opened #7528 "Additives (tracker)"
### What
#### Detect additives
- [ ] #6794
- [ ] #5816
- [ ] #4646
- [ ] #4380
- [ ] #3605
- [ ] #2200
- [ ] #2189
- [ ] #984
- [ ] #956
- [ ] #804
- [ ] #774
- [ ] #380
#### Show them to users in a knowledgeable and helpful way
- [ ] #5592
  - [ ] #6964
- [ ] #2912
- [ ] #1055
- [ ] #1054
- [ ] #596
- [ ] #595
### Ensure data quality around additives
- [ ] #1807
### Simplify the API around additi

[2022-10-12 18:38] teolemon commented on #3990
@aleene is that now solved ?

[2022-10-12 18:41] aleene commented on #3990
Most of them. Some can not be solved at the moment

[2022-10-12 19:57] #418 closed

[2022-10-12 20:10] teolemon commented on #652
yes

[2022-10-12 20:12] teolemon commented on #793
We developped other means to do that

[2022-10-12 20:12] #793 closed

[2022-10-12 20:25] #836 closed

[2022-10-12 20:54] teolemon commented on #1899
closing, the associated PR was merged

[2022-10-12 20:54] #1899 closed

[2022-10-13 04:29] jainshubham766 commented on #7498
I would like to resolve this issue, under hacktoberfeast.
Please assign

[2022-10-13 04:29] jainshubham766 commented on #7508
I would like to resolve this issue, under hacktoberfeast.
Please assign

[2022-10-13 04:29] jainshubham766 commented on #7498
I would like to resolve this issue, under hacktoberfeast.
Please assign

[2022-10-13 04:29] jainshubham766 commented on #7508
I would like to resolve this issue, under hacktoberfeast.
Please assign

[2022-10-13 04:48] jainshubham766 commented on #7309
I would like to resolve this issue, under hacktoberfeast.
Please assign

[2022-10-13 04:48] jainshubham766 commented on #7465
I would like to resolve this issue, under hacktoberfeast.
Please assign

[2022-10-13 07:35] stephanegigandet commented on #7309
@jainshubham766 Thanks, I assigned the issue to you.

[2022-10-13 07:40] #7518 closed

[2022-10-13 08:20] stephanegigandet commented on #7497
I think we should remove the good first issue etc. labels (and maybe rename the issue), this is probably not something we want people to work on until we have defined exactly what we want.

[2022-10-13 09:55] teolemon opened #7533 "Automate the release of the various SDKs generated from API"
### What

- There are SDK generators for APIs which are written in OpenAPI spec -> https://github.com/OpenAPITools/openapi-generator
- Automate the release of the various SDKs generated from API

### Part of
- #7446

[2022-10-13 10:10] stephanegigandet commented on #7474
Current fonts we use:

https://fonts.googleapis.com/css2?family=Public+Sans&family=Material+Icons

on Chrome, this returns:

[code]

With wget:

[code]

[2022-10-13 10:13] stephanegigandet commented on #7474
We can host fonts, but then we lose all the "smart" things Google Font does by returning fonts specific to what the user can use (e.g. woff2 instead of ttf, and variable fonts instead of fixed fonts). We could also try to replicate that, by specifying both woff2 and ttf fonts in the CSS.

We lose also the automated updates.

On the up side, we are less dependent on an external server and we don't

[2022-10-13 11:00] alexgarel commented on #7474
I'm more in favor of hosting fonts locally as google fonts is known to be a tracker on users.

https://github.com/neverpanic/google-font-download can help ? It seems capable of generating the CSS supporting different browser.

[2022-10-13 11:02] alexgarel commented on #7474
Also https://google-webfonts-helper.herokuapp.com is really easy to use.

[2022-10-13 11:49] stephanegigandet commented on #7474
Thanks for the links. The first one is very outdated and does not support the newest changes: https://github.com/neverpanic/google-font-download/issues/27

But I think I can copy the format generated by the second one (it has Public Sans but not Material Icons for some reason).

I'll give it a try.

[2022-10-13 14:36] aleene opened #7539 "NEW DESIGN: Strange error message when moving products to a different server (e.g. Open Beauty Facts)"
### Describe the bug

After moving a product to OBF.

### To Reproduce

Try moving a product.

### Expected behavior

Something nice.

### Screenshots

<img width="382" alt="Screenshot 2022-10-13 at 16 31 12" src="https://user-images.githubusercontent.com/1329905/195626817-2c8e58cf-6403-4fdd-b159-3e2f55d725d9.png">

### Additional context

_No response_

### Type of device

Browser

### Browser ve

[2022-10-13 14:36] aleene commented on #7539
<img width="382" alt="Screenshot 2022-10-13 at 16 31 12" src="https://user-images.githubusercontent.com/1329905/195626699-d556ac1f-2873-4100-a0d0-8f3cd9f28e59.png">

[2022-10-13 23:02] VaiTon commented on #7465
Sure @jainshubham766. Feel free to write here or on slack to get some guidance. Happy hacktoberfest!

[2022-10-13 23:04] VaiTon commented on #7474
As I wrote on slack, we could use another CDN service that is more privacy-friendly than Google, for example https://bunny.net/fonts/. It's hosted in EU so it has to comply with GDPR.

[2022-10-14 07:05] CharlesNepote commented on #7474
@VaiTon Bunny fonts seems really interesting and provides "a Google Fonts drop-in compatible API". They provide the "Public Sans" we use, but unfortunately I can't find Material Icons.

[2022-10-14 07:36] CharlesNepote commented on #7374
@rickstaa thanks a lot for your nice project.

We have tried another method to sort issues: each participant has 100 credits quarterly and he can put them on the issue(s) he wants to. He can put 100 credits on one issue or allocate it on several issues. It allows the participants to express their priorities, which is not possible with the Github system (where all your "votes" are equal). The drawb

[2022-10-14 08:41] #7521 closed

[2022-10-14 08:43] CharlesNepote commented on #291
This issue has been solved since 2021 by #5079.

[2022-10-14 08:43] #291 closed

[2022-10-14 08:44] rickstaa commented on #7374
@CharlesNepote Thanks for your feature request. I could not migrate your issue to https://github.com/rickstaa/top-issues-action, so I made a reference and answered it on https://github.com/rickstaa/top-issues-action/issues/94#issuecomment-1278682972. If you have other suggestions on how we can implement this feature without hitting the problems described in that issue, feel free to comment 👍🏻.

[2022-10-14 10:33] #7483 closed

[2022-10-14 11:08] #7474 closed

[2022-10-14 11:14] aleene opened #7545 "NEW DESIGN: account_circle"
### Describe the bug

account_circle

### To Reproduce

on https://nl.openfoodfacts.org/entry-date/2022-10-14

### Expected behavior

What is this?

### Screenshots

<img width="427" alt="Screenshot 2022-10-14 at 13 13 02" src="https://user-images.githubusercontent.com/1329905/195833832-fc747062-ae2a-4a1c-85ae-82d6730d9009.png">

### Additional context

_No response_

### Type of device

Browser

[2022-10-14 11:19] aleene opened #7546 "NEW DESIGN: image buttons"
### Describe the bug

Disable the buttons while the image has not been loaded, otherwise it works strange

### To Reproduce

Use buttons before download is completed

### Expected behavior

Not beign able to use the buttons (grayed out)

### Screenshots

<img width="701" alt="Screenshot 2022-10-14 at 13 18 22" src="https://user-images.githubusercontent.com/1329905/195834635-9a4bae10-2ef1-41fc-8ee6

[2022-10-14 11:21] aleene opened #7547 "NEW DESIGN: strange values"
### Describe the bug

English values before the dutch ones.

### To Reproduce

is this a translation issue?

### Expected behavior

get rid of the english values

### Screenshots

<img width="619" alt="Screenshot 2022-10-14 at 13 20 51" src="https://user-images.githubusercontent.com/1329905/195835068-fae0f84d-20c8-49cf-938d-c1cbf46e3f79.png">
<img width="244" alt="Screenshot 2022-10-14 at 13 27 02

[2022-10-14 11:29] aleene opened #7548 "NEW DESIGN: stange squares"
### Describe the bug

What are these squares? Missing image?

### To Reproduce

...

### Expected behavior

dutch page

### Screenshots

<img width="225" alt="Screenshot 2022-10-14 at 13 28 11" src="https://user-images.githubusercontent.com/1329905/195836527-89fb9644-ac10-41cb-9b88-eaae87e94821.png">

### Additional context

_No response_

### Type of device

Browser

### Browser version

_No resp

[2022-10-14 11:35] aleene opened #7549 "NEW DESIGN: layout"
### Describe the bug

strange empty space in layout of products

### To Reproduce

https://nl.openfoodfacts.org/entry-date/2022-10-12

### Expected behavior

No empty space

### Screenshots

<img width="1279" alt="Screenshot 2022-10-14 at 13 34 32" src="https://user-images.githubusercontent.com/1329905/195837432-b27af21a-e51c-4073-a2f4-6d8936e80b4b.png">

### Additional context

_No response_

###

[2022-10-14 11:39] aleene opened #7550 "NEW DESIGN: placement text of moval data/images"
### Describe the bug

The moval text should be below the change main language

### To Reproduce

change main language?

### Expected behavior

better placement

### Screenshots

<img width="546" alt="Screenshot 2022-10-14 at 13 37 20" src="https://user-images.githubusercontent.com/1329905/195838068-f3fde537-aa84-4d22-9ffc-770b084931dd.png">

### Additional context

_No response_

### Type of devic

[2022-10-14 12:01] teolemon commented on #7547
- Fixed by #7551

[2022-10-14 12:17] aleene opened #7552 "NEW DESIGN: image presentation"
### Problem description

It is now hard to copy the data from the images in editmode. I have to scroll up/down/up/down/up/down/up/down.

### Desired solution

A presentation with the image next to the field to be filled in is much better.

### Alternatives you have considered

_No response_

### Additional context

_No response_

### Number of products impacted

_No response_

### Time per product

[2022-10-14 13:15] CharlesNepote opened #7554 "NEW DESIGN: CSS class "list_of_products_page" has became "products_page""
### Describe the bug

1. It breaks power-user-script detection of the page type.
2. It's not only breaking Power User Script but also diverges from sister sites (Open Beauty Facts...)

### To Reproduce

See HTML code of the main page: https://world.openfoodfacts.org/

### Expected behavior

`<body class="products_page">`
=>
`<body class="list_of_products_page_products_page">`

### Screenshots

_No

[2022-10-14 13:53] alexgarel commented on #7514
You can silence it. It's minor, and we have far more easier surface for a potential DoS :-/

[2022-10-14 13:54] alexgarel commented on #7514
Done, it's not even an issue, it's in the browser.

[2022-10-14 13:54] #7514 closed

[2022-10-14 15:53] teolemon commented on #7548
This was due to a font bug, and is now fixed. Feel free to reopen if still affected.

[2022-10-14 15:53] #7548 closed

[2022-10-14 15:53] teolemon commented on #7547
This was due to a font bug, and is now fixed. Feel free to reopen if still affected.

[2022-10-14 15:53] #7547 closed

[2022-10-14 15:54] teolemon commented on #7545
This was due to a font bug, and is now fixed. Feel free to reopen if still affected.

[2022-10-14 15:54] #7545 closed

[2022-10-14 18:14] jainshubham766 commented on #7465
Can u please help me with what exactly needs to be done and the format to make a doc in.
[Link for the file](https://github.com/openfoodfacts/openfoodfacts-server/blob/main/cgi/auth.pl)

[2022-10-15 06:54] aleene opened #7556 "NEW DESIGN: Personal presentation settings"
### Problem description

In the US (and elsewhere) the nutritional values are written per serving.

The nutritional values presentation is per 100 mg when accessing us.openfoodfacts.org.

This requires the user to adjust the input values when editing all the time.

### Desired solution

The site us.openfoodfacts.org should default to per serving. Editing entry default as well. Not sure if a per us

[2022-10-15 11:39] jainshubham766 commented on #7309
@stephanegigandet Can u please specify the file to target? I will help me to resolve fast.

[2022-10-15 12:03] jainshubham766 commented on #7410
Please assign me this issue

[2022-10-15 13:44] DanieliusAsm commented on #7556
Same should apply to a mobile app since the user was talking about Android

[2022-10-15 17:37] teolemon opened #7558 "The category facets looks weird"
### What
- The category facets looks weird, with generated knowledge content not being in a card, and above the ranking system
- Average Nutrition facts should be hierarchically below the Title page
### Why
- Coherence

### Screenshot
<img width="687" alt="image" src="https://user-images.githubusercontent.com/1689815/196000189-b35a19f0-b61d-4f0a-bbe0-3f6893f3aca3.png">

### Part of
- #5493

[2022-10-16 07:53] aleene opened #7559 "NEW DESIGN: Editing folksonomy property"
### Describe the bug

If I change the value of folksonomy item and tap save, the interface does not update, but the change has been saved.

### To Reproduce

try changing

### Expected behavior

change the edited field to the non-editable variant and allow editing again

### Screenshots

_No response_

### Additional context

_No response_

### Type of device

Browser

### Browser version

_No res

[2022-10-16 14:44] teolemon commented on #4132
fixed by the redesign

[2022-10-16 14:44] #4132 closed

[2022-10-16 14:46] teolemon commented on #3420
The website has been redesigned.
This might have fixed your issue and opened others.
 Please open new issues in #7295

[2022-10-16 14:46] #3420 closed

[2022-10-16 14:46] teolemon commented on #1882
I believe the new #7465 solves this

[2022-10-16 14:46] #1882 closed

[2022-10-17 06:58] aleene commented on #7559
I no longer get suggestions and can not submit.
<img width="573" alt="Screenshot 2022-10-17 at 08 57 23" src="https://user-images.githubusercontent.com/1329905/196109584-8fbd8b8f-0bd8-41d0-bf44-1d37996f4083.png">

[2022-10-17 07:38] teolemon commented on #7559
- I've reported it in the #infrastructure channel, since it seems to be a problem with the folksonomy server being down or something.
- Note that we also have https://github.com/openfoodfacts/openfoodfacts-infrastructure

[2022-10-17 11:11] CharlesNepote commented on #7559
https://api.folksonomy.openfoodfacts.org/docs was ok but some requests were leading to 500 errors. I restarted the server and it's fine now.

[2022-10-17 11:11] #7559 closed

[2022-10-17 11:39] CharlesNepote opened #7563 "Convert data-fields.txt into markdown to let it be more readable"
I'm going to enhance the documentation of [the fields exported in CSV (data-fields.txt)](https://github.com/openfoodfacts/openfoodfacts-server/blob/main/html/data/data-fields.txt).

Is it ok if I convert it into a markdown file to allow better readability in Github and elsewhere?
* links
* titles
* `code`
* etc.

[2022-10-17 11:58] ayush78781 commented on #7563
How about enhancing the documentation using [readthedocs](https://docs.readthedocs.io/en/stable/) as it enable us to not only host our markdown format documentation but also allow us to integrate it with any VCS. And, if its sounds good to you. I take the ownership of its completion.

[2022-10-17 13:00] stephanegigandet opened #7564 "Request for feedback: new product WRITE API with structured JSON body and new packagings structure"
Hi Everyone! We are designing a new API so that clients can specify the different packaging components of a product. The packagings will be in a complex structure, so we are departing from the existing API that uses flat form fields to a new API that will accept directly a JSON structure as input. While we are focusing first on packagings, this new API can gradually be extended to support other pr

[2022-10-17 14:46] teolemon commented on #7493
fixed by @stephanegigandet

[2022-10-17 14:46] #7493 closed

[2022-10-17 14:54] teolemon commented on #7489
@teolemon : mockup with chevron on the bottom (middle)

[2022-10-17 15:58] CharlesNepote opened #7565 "Nutrition facts: smaller rows + picture takes all the place available"
### Problem description

In edition mode, the nutrition facts has to issues:
* the height of each row is unnecessarily large
* the product picture is small and stays at the bottom of table

### Desired solution

With Power User Script we have tried to solve these two issues, see the following screen (current site without Power User Script is at the left and the one with it, at the right).

https:/

[2022-10-17 17:37] monsieurtanuki commented on #7564
@raphael0202 For the record in off-dart when we use `userId` / `password` we do that for WRITE operations (like here about saving the packaging) and we use POST syntax - all parameters will be in the body, not in the URL.
The `userId` is also in the header, as `From: `.
(Not the same when we call Robotoff).

@raphael0202 Good question about the `product` field: it looks like currently we don't use

[2022-10-18 07:23] stephanegigandet commented on #7309
@jainshubham766 you can set up the project locally in docker: https://github.com/openfoodfacts/openfoodfacts-server/blob/main/docs/introduction/dev-environment-quick-start-guide.md

The relevant files:

/scss/*.scss
/html/js/product-search.js

[2022-10-18 07:45] alexgarel commented on #7556
I think the best way to implement this is simply to remember (in browser local storage) what was last value used by the user.
So that if you change it once, you don't need to change it next time.

It's seems easier to me and more flexible than a per country settings.

[2022-10-18 07:57] stephanegigandet commented on #7564
Thanks for the feedback @raphael0202 and @monsieurtanuki

1. Authentication in the body vs HTTP Basic Auth

We could use HTTP Basic Auth for authentication. It would conflict with some of the things we do (like having the extra "off:off" password protection on .net), but we could change that.

I propose this:
- for ease of code and deployment in the current setup, we stick with userid and password

[2022-10-18 08:02] alexgarel commented on #7564
I strongly agree with @raphael0202 that we should put user / password in headers.

I think it's to be consistent with the general API where you use the fields parameter to tell which fields you'd like to get. Also it's better because you clearly separate product data from eventual metadata on the request/response itself (like a status, status_verbose)

[2022-10-18 08:03] stephanegigandet commented on #7564
@monsieurtanuki : very good point. I think a way to say "Please give me the translations too" would be very useful indeed.

We can think of something like what we have for tags today: https://world.openfoodfacts.org/product/3017620422003/nutella-ferrero?fields=categories_tags,categories_tags_fr

Or we could just add properties like shape_lc and material_lc, and their value would be dependent on th

[2022-10-18 08:05] alexgarel commented on #7564
we don't necessarily have to use basic-auth for the authentication headers, we can use a specific header.

[2022-10-18 08:08] stephanegigandet commented on #7564
It may be simpler for clients if we stick with something "basic" instead of having our own header. HTTP Basic Auth is good I think, it's just that I'd prefer to do it a bit later. :)

[2022-10-18 08:26] raphael0202 commented on #7564
As we're on a tight schedule it makes sense :+1:

We could have a single `product->lc` field to request translations in requested language for all taxonomized fields, it would be simpler.

[2022-10-18 10:01] stephanegigandet commented on #7564
I like the idea of being able to request a specific language for all taxonomized fields.

product->lc is already used to store the main language of the product, so I'd prefer not to change it, but we could have a tags_lc field for instance.

The simplest would be to use the same field name for the translated fields and the untranslated fields.

e.g. if we have internally categories_tags: ["en:coff

[2022-10-18 12:30] stephanegigandet commented on #7564
We can do something like that indeed. So for packaging components we would have something like:

[code]

That would be for reading, and for writing, we could accept either the "id" or the "lc_name":

[code]

[2022-10-18 12:56] CharlesNepote commented on #7563
I started a first draft here: https://github.com/openfoodfacts/openfoodfacts-server/blob/issue-2325/html/data/data-fields.md

@ayush78781 : readthedocs is very interesting but too rich/complex for this. Let's start with a simple .md file.

[2022-10-18 13:00] alexgarel opened #7571 "Try to use docker layer caching to improve actions time"
Actions are slow. One way we could gain some minutes is by speeding up the build of docker image.
It seems it's quite easy to setup a cache with buildkit.
See https://evilmartians.com/chronicles/build-images-on-github-actions-with-docker-layer-caching

[2022-10-18 13:04] alexgarel commented on #7563
@CharlesNepote we have a documentation build process with mkdocs, we could include this file when it's ready. It's displayed on https://openfoodfacts.github.io/openfoodfacts-server/ in the reference section.

[2022-10-18 13:56] stephanegigandet commented on #2325
I would not remove any field.

additives: it would be best to fix it (generate it from additives_tags), in order to be consistent with categories etc.

[2022-10-18 14:31] CharlesNepote commented on #2325
Ok.

`categories` is filled by users while `additives_tags` are computed from `ingredients_text` I guess (or `ingredient_[something]`). So it's not consistent to generate `additives` or to call it that way, don't you think so? Generating `additives` would also lead to duplicate data like for `states`, `states_tags` and `sates_en` [which are nearly the same](http://mirabelle.openfoodfacts.org/produ

[2022-10-18 16:16] stephanegigandet commented on #7564
I have updated the PR to include a new response status with a list of warnings and errors, that we will be able to reuse for all read and write requests.

https://redocly.github.io/redoc/?url=https://raw.githubusercontent.com/openfoodfacts/openfoodfacts-server/packagings-api/docs/reference/api.yml#operation/post-api-v3-product-barcode

[2022-10-18 16:35] alexgarel opened #7573 "Some knowledge panels use "text_type" instead of "type""
### Describe the bug

The text element, has an attribute to give the semantic role of the element.

It should be "type", but it's sometimes "text_type".

### To Reproduce

See https://world.openfoodfacts.org/api/v2/product/3017620422003/nutella-ferrero-nutella?fields=knowledge_panels
In panel "carbon_footprint" and "ecoscore_agribalyse"

### Expected behavior

Should always be "type"

### Screensh

[2022-10-19 10:01] stephanegigandet opened #7574 "New structured packagings structure, API, website display and edit interface, and producers platform support - Project plan and tracker"
We have started a project to better structure packagings data and collect and display this data.
- Project description: https://docs.google.com/document/d/1DLEVMt0zkUflFNeLOVAGqNL8G5BV66xZdp5xj3_6iOQ/edit
- Projet notes: https://docs.google.com/document/d/1yj8fuPMv9sZ_FV_xmbx_d8lnc6AZojuVkvTXXQN2Slg/edit#

This issue is to plan and track the development and deployment of the server side components

[2022-10-19 14:41] harryblam commented on #7564
hi @stephanegigandet ,

Thanks for the updates and the integration of the warnings / errors. It looks great from my side, just a couple of final comments - in case useful:

**1) confirmation that v2 -> v3 api clients may break**
The `status` property in the v3 api responses is now an enum string. I think `status` was a number in the v2 right? Just raising for visibility as it may be a non-obvious

[2022-10-19 15:35] #7573 closed, assigned to stephanegigandet

[2022-10-19 16:47] vannam-akash commented on #7495
Please assign me this issue

[2022-10-19 20:21] JoseJaramillo04 opened #7577 "Update Documentation: dev-environment-quick-start-guide.md for Windows 11"
## What:
Documentation shows directory path to enable developer mode in Windows 10. Windows 11 changes the directory path and could cause confusion.

- [ ] Add additional instructions for Windows 11 users

WINDOWS 10: `On Windows, You have to enable the 'Developer Mode' in order to use the symlinks. To enable Developer Mode: Go under Settings > Update & Security > 'For developers', and turn on the

[2022-10-21 08:12] stephanegigandet commented on #7564
Hi @harryblam , thanks a lot for your feedback!

**1) re: confirmation that v2 -> v3 api clients may break**

It depends on the API requests, for updating products in v2, status is a number, either 0 or 1. And for uploading images, status was a string, either "status ok" or "status not ok".

For API V3, I would like to standardize the requests and responses so that they share the same structure, f

[2022-10-21 08:56] teolemon opened #7583 "Indexation (tracker)"
### What

- [ ] Ensure we have a sitemap.xml for a quick, up to date and multlingual indexation (site:openfoodfacts.org does not return the volumetry you'd expect, de.openfoodfacts.org is 4K product late, and products from the rest of the world are not indexed in German via world-de)
- [ ] Ensure our snippet description includes Nutri-Score and Eco-Score for a better Search Engine CTR

### Why
- M

[2022-10-21 12:22] harryblam commented on #7564
@stephanegigandet no worries! I think there is a lot of context i'm missing from existing OFF apis / services so feel free to ignore if it's opening up too much complexity.

**1) re: confirmation that v2 -> v3 api clients may break**

`status_code` seems too close to [HTTP status code](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes) in my opinion so might leave room for confusion. How abo

[2022-10-21 13:11] stephanegigandet commented on #7564
status_id sounds good, thank you :)

I'll rename the fields in the proposal.

I feel we're getting to something quite good, so I will soon start the implementation of the API, and of course we can still change things as we go along.

[2022-10-21 15:47] manon-corneille opened #7588 "Allow website visitors to subscribe to our newsletter"
### Describe the bug

Today, website visitors can't subscribe to the newsletter.

### To Reproduce

Today, website visitors can't subscribe to the newsletter.

### Expected behavior

Would be nice to be able to subscribe by adding a hyperlink in the footer of the website :)

URL : https://blog.openfoodfacts.org/en/newsletter-2
Message suggested : "Subscribe to our newsletter"

![image](https://use

[2022-10-22 08:57] M123-dev commented on #3341
I was thinking about the same thing for producer accounts, I am not one but creating a user account I smoothie has no impact at all in the app, so maybe showing a moderator/producer tag or so

[2022-10-23 04:32] ayush78781 commented on #7563
@CharlesNepote it shows you already done. Are there any improvement required in this?

[2022-10-23 17:23] monsieurtanuki opened #7592 "Regression getting product's environment impact levels and infocard"
### Describe the bug

off-dart tests fail from less than a week, about the following product fields:
* environment_impact_level_tags
* environment_infocard

### To Reproduce

* https://world.openfoodfacts.net/api/v0/product/7613331814562.json?lc=en&fields=environment_impact_level_tags - no data at all
* https://world.openfoodfacts.net/api/v0/product/5701184005007.json?lc=fr&fields=environment_info

[2022-10-23 17:38] teolemon commented on #7592
@stephanegigandet has deprecated them

[2022-10-23 19:30] TaciteOFF commented on #7522
Same issue for me on Safari 16.0 :(
A bit dangerous because I deleted too many pictures on a product by mistake

[2022-10-24 08:17] stephanegigandet commented on #7592
@monsieurtanuki The environment impact levels were an experimental feature that has been replaced by the Eco-Score. We should remove them from openfoodfacts-dart.

[2022-10-24 10:14] stephanegigandet opened #7600 "Use salt / sodium nutrition facts value to set the maximum percent of salt of an ingredient"
When a product has a value for salt / sodium in nutrition facts, we could use it as a maximum value for the salt ingredient when estimating the percentage of each ingredient.

Related to #5369

[2022-10-24 10:37] stephanegigandet opened #7601 "Update Agribalyse database from 3.0 to 3.1 to compute the Eco-Score"
A new version of the Agribalyse database has been released this month: https://doc.agribalyse.fr/documentation/acces-donnees

One change is that it adds new vegetarian and vegan categories.

[2022-10-24 10:43] stephanegigandet opened #7602 "Add new Agribalyse 3.1 categories (e.g. vegan and vegetarian products) to the categories taxonomy"
Related to #7601

There are new Agribalyse categories that we need to add to the categories taxonomy, in particular some vegetarian and vegan categories:

25415_2 | 25415 | entrées et plats composés | sandwichs | Burger végétarien | Veggie burger
20914 | 20914 | entrées et plats composés | plats végétariens | Escalope végétale ou steak à base de soja | Soy patty or vegetable escalope
25593 | 25593

[2022-10-24 11:05] teolemon commented on #7602
[code]

[2022-10-24 11:06] teolemon commented on #7602
Spreadsheet I used: https://docs.google.com/spreadsheets/d/1dnjpVtz1KQVaYR1VGIWZF9XJ4LnacHPmS1jmWs_fl0Y/edit#gid=0

[2022-10-24 12:20] john-gom opened #7604 "Issues running some make tasks on windows"
Some make tasks don't run properly on Windows due to use of commands like "rm".

Proposing to update the dev-environment-quick-start-guide.md with details on how to get around this.

[2022-10-24 13:55] john-gom commented on #7604
PR #7605

[2022-10-24 19:06] M123-dev commented on #7592
Filed https://github.com/openfoodfacts/openfoodfacts-dart/issues/598, we can close this

[2022-10-25 06:33] monsieurtanuki commented on #7592
Thank you guys!

[2022-10-25 06:33] #7592 closed

[2022-10-25 08:05] teolemon opened #7608 "Extend the attributes system to add a section for contribution"
### What
- Extend the attributes system to add a section for contribution
### Why
- Existing system that allows us to move quickly
- Takes into account that a user might want both actual food insights and contributions insights on the scan card / summary
- Using attributes for contribution purposes in the mobile app scan screen
- "Missing packaging" chip linking with knowledge panels to help durin

[2022-10-25 10:57] CharlesNepote commented on #4561
As of 2022-10-25, [more than 44,000 products are in this case](http://mirabelle.openfoodfacts.org/products?sql=select+*+FROM%0D%0A%28select+count%28*%29+as+all_products+from+%5Ball%5D%29%2C%0D%0A%28select+count%28*%29+as+sat_or_sugar_empty_while_0_fat_or_carb+from+%5Ball%5D+where+%28fat_100g+%3D%3D+0+and+%5Bsaturated-fat_100g%5D+is+null%29+or+%28carbohydrates_100g+%3D%3D+0+and+%5Bsugars_100g%5D+is

[2022-10-25 12:36] CharlesNepote commented on #4561
A question related to this issue is the interest to know if the 0 is written on the product or computed.

I find interesting to know:
* what is actually printed on the product or not (we can use the hyphen "-" to tell that the value is not on the packaging)
* what is computed or not
But that makes thing more complicated.

Some other nutrient values could be computed based on some rules. For exampl

[2022-10-26 14:32] teolemon opened #7609 "In the Nutri-Score knowledge panel, indicate the missing nutriments that prevent computing the Nutri-Score"
### What
- In the Nutri-Score knowledge panel, indicate the missing nutriments that prevent computing the Nutri-Score
- eg: "Salt missing to compute the Nutri-Score" or "Salt and saturated fat are missing to compute the Nutri-Score"

### Mockups
![Sub-knowledge panel - Nutri-Score - Salt -Light - FR](https://user-images.githubusercontent.com/1689815/199030998-60b43262-7a58-436a-9fed-28f94e8bf90e.p

[2022-10-26 14:34] teolemon opened #7610 "In Edit Mode, indicate the required nutriments to compute the Nutri-Score by an asterisk"
### What
- In Edit Mode, indicate the required nutriments to compute the Nutri-Score by an asterisk
### Part of
- #Nutri-Score tracker
- #road to score

[2022-10-27 07:35] raphael0202 opened #7611 "Allow to inform that the product does not have ingredient or packaging information"
It's possible to inform that a product doesn't have any nutritional information on the app and the website (seemingly through the `no_nutrition_data`). However, this is not possible for ingredients or packaging.
Ingredients or packaging information are not always displayed on the product packaging.

[2022-10-27 08:00] #7512 closed

[2022-10-27 09:03] teolemon commented on #7611
- https://github.com/openfoodfacts/openfoodfacts-server/issues/2817
- @raphael0202

[2022-10-27 09:42] teolemon commented on #7611
Also a wider option: https://github.com/openfoodfacts/openfoodfacts-server/issues/277

[2022-10-27 09:46] teolemon opened #7612 "Allow to mention that a field is complete"
### What
- For some computations, we need to know whether the user deems the field complete
- Allow to mention that a field is complete, for a given purpose (eg: eco-score labels)
- Optionally add negative tags (does not have "en:eu-organic")

### Part of
- Status system
- #5520

[2022-10-27 16:58] stephanegigandet opened #7616 "Docker builds fail (local + GitHub actions) - issue with npm node-gyp / node-expat"
All builds are currently failing:

[code]

[2022-10-27 17:33] teolemon commented on #6988
we hit that during the smoothie meeting @stephanegigandet
is there a way to improve performance ?

[2022-10-28 07:55] stephanegigandet commented on #7616
It still fails when I check out an old branch from 15 days ago, so it's not due to a recent change on our side.

[2022-10-28 09:41] aleene opened #7620 "NEW DESIGN: barcode missing"
### What

- It seems that the barcode is gone in the new design.
- For me essential to check if the product corresponded to the one I have in my hand.

### To Reproduce

- just look

### Expected behavior

- show the barcode somewhere

### Part of
- #7295

[2022-10-28 09:47] teolemon opened #7621 "Reintroduce the checkbox to show the donation banner again if you collapsed it"
### What
-  Reintroduce the checkbox to show the donation banner again if you collapsed it
### Why
- Currently impossible to donate again without knowing there's a link in the footer, if you have dismissed the banner
<img width="956" alt="image" src="https://user-images.githubusercontent.com/1689815/199262885-267d841e-888c-4cf5-a454-ab831573fceb.png">

### Screenshot

### Part of
- #7295

[2022-10-28 12:12] teolemon opened #7624 "New design: it's not possible anymore to click on the images to zoom them"
### What
- New design: it's not possible anymore to click on the images to zoom them

### Part of
- #7295

[2022-10-28 12:55] #7588 closed

[2022-10-28 12:55] #7604 closed

[2022-10-28 12:58] #7491 closed

[2022-10-28 13:45] teolemon opened #7626 "Update the Mobile taglines for the 2022 donation campaign"
### What
- Update the Mobile taglines for the 2022 donation campaign
- Ensure that we have UTMs to ensure attribution (eg Smoothie Android, Smoothie iOS, Old App Android, Old app iOS, OBF, OPF, OPFF Android)

### Code pointers
tagline:
- html/files/app/tagline/tagline-off-ios.json
- html/files/tagline-off.json
- html/files/tagline.txt
- html/files/tagline-obf.json
- html/files/tagline-opf.json
- h

[2022-10-29 09:50] teolemon opened #7632 "Add autosuggest for stores"
### What
- Add autosuggest for stores
### Why
- For the mobile app
### Code pointers
- Source code: https://github.com/openfoodfacts/openfoodfacts-server/blob/main/cgi/suggest.pl
- Stores taxonomy: https://static.openfoodfacts.org/data/taxonomies/stores.json
- Suggest not working for a taxonomized entry: https://world.openfoodfacts.org/cgi/suggest.pl?tagtype=stores&term=franpr&lc=fr

[2022-10-31 12:23] aleene opened #7638 "Design: placement of nutritional image"
### Describe the bug

The image of the nutritional values is not well visible on small screen. I have to scroll up and down for each entry in edit mode.

### To Reproduce

Try editing on the ipad in landscape. The image is next to the entry fields (great), but at the bottom (bad).

### Expected behavior

Align the top of image with the top of the fields.

### Screenshots

_No response_

### Additi

[2022-10-31 12:37] teolemon commented on #7638
Can you provide a screenshot @aleene ?

[2022-10-31 18:16] john-gom commented on #5369
I'm working on this at the moment. Proposing to add a percent_max:en property to the ingredients taxonomy.

[2022-11-01 10:11] teolemon commented on #7624
Honestly, P0, this is annoying as *****

[2022-11-01 14:52] teolemon commented on #7621
@stephanegigandet @alexgarel @CharlesNepote

[2022-11-02 08:55] stephanegigandet commented on #7624
You can zoom images with the zoom button just below them

[2022-11-02 08:58] stephanegigandet opened #7642 "Tags input bars in product edit form are not full width"
### Describe the bug

May be due to the libraries updates to make npm work: https://github.com/openfoodfacts/openfoodfacts-server/pull/7619

![image](https://user-images.githubusercontent.com/8158668/199445376-d44220e6-c599-4ed7-a8e4-69622e646891.png)

### To Reproduce

Edit a product (on .net)

### Expected behavior

Full width inputs

### Screenshots

_No response_

### Additional context

_No r

[2022-11-02 10:52] teolemon commented on #7624
Yes, I do know, but long living habits from the previous design, plus time lost targeting this tiny button.

[2022-11-03 07:33] natrius opened #7648 "Remove broken entries due to broken f-droid release"
### Describe the bug

The current f-droid release (3.6.8) causes broken entries in the database. As far as i'm aware such a broken entry leads to desinterest when stumbling upon those.
In my opinion, these entries all should be deleted. Sorted by my country on page 95 (random choice)

![image](https://user-images.githubusercontent.com/7243447/199664881-03232715-811b-42df-a3b8-28a6097edd2d.png)

Th

[2022-11-03 09:10] alexgarel opened #7649 "Use get_logger from Log4Perl and separate logging by modules or functional units"
Right now we have very little control over log. Log level is adjusted globally, which make it very verbose and hard to read to beginners.

https://metacpan.org/pod/Log::Log4perl support handling a hierarchy of logs.

Using a config file, one can then decide the log level of each branch. This might help, for example, toggling debug mode for a particular branch in prod or staging while looking for a

[2022-11-03 09:14] alexgarel commented on #7649
@stephanegigandet @hangy @john-gom  what do you think ? (not urgent, but it's in my mind since a long time :sweat_smile: )

[2022-11-03 10:28] stephanegigandet opened #7650 "Define a good way and a good place to document properties of each taxonomy (e.g. ingredients)"
@john-gom implemented a new feature that allows ingredients to have a max_percent:en property that is used to estimate the percentage of each ingredient of a product (e.g. if the ingredients list is "milk, flavours", we can assume that there is more than 95% of milk): https://github.com/openfoodfacts/openfoodfacts-server/pull/7639

It brings an interesting question: how and where should we documen

[2022-11-03 10:37] alexgarel commented on #7650
1. A list of all supported and used properties, as comments at the top of the taxonomy .txt source file

Has the advantage of being close to code, but the disadvantage of being less accessible to new-comers (and taxonomy editor is on its way).

Maybe we could put it in taxonomy file but generate an html from it to put on github pages ? (have a delimiter, write markdown, add markdown file to docs/r

[2022-11-03 10:55] stephanegigandet commented on #7650
We could have the documentation in /docs/reference/ and then have a link to it at the top of the file.

Actually that's an important point. If we put the documentation of properties in a JSON schema, then it can be displayed (in English only though) easily in tools like the taxonomy editor.

[2022-11-03 11:07] alexgarel commented on #7650
Indeed I did not read this line correctly. I think this is the best solution, you are right.
It's close enough to source being in the same git repo.

[2022-11-03 15:26] aleene commented on #7650
Is it possible to use a wikidata kind of approach, with one entry per ingredient?

[2022-11-03 15:32] aleene opened #7651 "Webdesign: login flow"
### Describe the bug

When on a page, I want to start editing. But the page shows that I must login first. OK, I do that, after login I get a welcome page,

### To Reproduce

Try on any product page

### Expected behavior

Instead of the welcome page, I like to be back on the product page to start editing.

### Screenshots

_No response_

### Additional context

_No response_

### Type of device

[2022-11-03 16:54] teolemon commented on #7648
cc @VaiTon @stephanegigandet any opinions on this ? We haven't changed anything to image upload, so I'm not sure what could be going on .

[2022-11-03 17:06] alexgarel commented on #7563
@ayush78781 I convinced @CharlesNepote to instead document fields in the OpenAPI (as separate files), so we avoid duplicating doc, and we can still generate the .md file from it.

[2022-11-03 17:07] alexgarel commented on #7563
If you want to help, you are welcome @ayush78781 :-)

[2022-11-03 23:05] natrius commented on #7648
No, its just an old (at least one year?) issue thats solved already. https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3982
The problem is:

- Old version in f-droid
- Old version (APK) on the Website

And at least the version in the F-Droid-Store leads to the error. And its not possible to get the most recent apk anywhere. But still, in my opinion the wrong entries do more harm tha

[2022-11-04 08:30] #7488 closed

[2022-11-04 08:41] stephanegigandet commented on #7650
@aleene : one entry per property you mean? Something like https://www.wikidata.org/wiki/Property:P110 ?
That would be another option, if we decided to use wikibase to define and store taxonomies. That would be a completely different model though, this issue is more about how to address our immediate needs to document properties in the existing taxonomy system.

[2022-11-04 09:20] john-gom commented on #7650
I would suggest an Item per ingredient with a Statement / claim for each property. I've been looking at the Wikidata / Wikibase model a bit more and I think the general concepts could work but we'd probably want a bit more control. For example, a CIQUAL link would be a property on an ingredient item but we'd want to limit the selection to valid CIQUAL entries. Same for AGRIBALYSE and other sources

[2022-11-04 17:24] aleene commented on #7650
I see that all taxonomy entries get more and more properties and related semantics. This reminded me of wikidata. I can envisage the off taxonomies as a better curated subset of wikidata.

I have no idea if this could work in practice.

[2022-11-05 07:38] aleene commented on #7651
I wonder whether this is an issue on IOS-only. It worked correctly on Safari on Mac.

[2022-11-06 09:50] teolemon commented on #7564
Does the server handles saving input precision (1g, 0,1g, 0,01g) ?

[2022-11-06 09:55] teolemon opened #7655 "Support for improved data collection around labels required for Eco-Score computation"
### What
- Add a property to labels required for Eco-Score computation
  - required_for_ecoscore_computation
- Allow to filter by property required_for_ecoscore_computation
  - https://world.openfoodfacts.org/api/v2/taxonomy?tagtype=labels&filter_property=required_for_ecoscore_computation&lc=fr&cc=fr

[2022-11-06 14:04] VaiTon commented on #7648
Hey @natrius! If we deploy the new flutter app to the F-Droid store replacing the current listing it should not be a problem anymore. Let's wait for https://github.com/openfoodfacts/smooth-app/issues/2771

[2022-11-06 14:13] natrius commented on #7648
Yeah, thats fine, but in this issue i talk about the old, already existing database entries That do more harm Than good in my opinion.

[2022-11-06 14:18] VaiTon commented on #7648
So, TODOs:
- [ ] Wait for https://github.com/openfoodfacts/smooth-app/issues/2771
- [ ] Remove the already created products

[2022-11-07 12:52] CharlesNepote commented on #7624
I agree with @teolemon. It's really annoying to have to focus on the small "Zoom" button. Clicking somewhere on the image is:
* intuitive
* easier

[2022-11-07 13:43] CharlesNepote opened #7660 "Investigate database export as parquet file"
[Apache Parquet](https://en.wikipedia.org/wiki/Apache_Parquet) is a file format aiming to manipulate data more easily.
* allows VERY fast requests (milliseconds vs dozen of seconds with grep/csvgrep)
* allows native internal compression
* allows huge compression due to the nature of the storage (column based)
* it might be easier to update old export with new data

Our current CSV (2023-03): 7.5 G

[2022-11-07 13:54] CharlesNepote commented on #7660
As a Parquet file can be manipulated with SQL queries thanks to duckdb, it should be possible to merge new data with older data thanks to a unique SQL request (tests to be done).

[2022-11-07 14:38] john-gom commented on #5369
In order to limit the "blast radius" of this change the percent_max will not be applied in the following scenarios:

- To sub-ingredients
- Where the first ingredient has a percent_max defined (e.g. the product is entirely flavouring)
- If the percent_max would be less than any later (smaller quantity) ingredients
- If the larger ingredients have percentages specified and the percent max when adde

[2022-11-07 14:40] moreymat commented on #7660
@CharlesNepote thanks a lot for following up on our conversation on this topic, and investigating the gains !

The gains in file size and query speed are impressive.

Two questions:
1. Your latest request is slow, but I expect the execution time to increase very slowly if you select 2, 100, 1000, 10000, 1000000 or all products (ie. the execution time is clearly dominated by the number of columns).

[2022-11-07 15:43] teolemon opened #7662 "gulp-terser dependencies conflict in npm for tagify and gulp-terser-js / gulp-min"
### What
- Country taxonomy is probably not built automatically on .net
<img width="298" alt="image" src="https://user-images.githubusercontent.com/1689815/200352241-e836d197-b6f4-4833-b6b3-d045f91ef599.png">

[2022-11-07 17:56] manon-corneille commented on #7254
Hi,

I'm reopening this issue because we have 2 other example where the product is classified as NOVA 3 only because its category is "Snacks" whereas it's made of 100% natural ingredients, and doesn't contain any hint of natural flavouring or natural aroma :
 - https://fr.pro.openfoodfacts.org/produit/5060088705124/nakd-noix-de-pecan-140g-4x1p
- https://fr.pro.openfoodfacts.org/produit/50600887050

[2022-11-07 18:23] john-gom commented on #7601
I'm starting to look at this

[2022-11-08 10:16] alexgarel commented on #7254
We can't see the product @manon-corneille if you don't give the org

[2022-11-08 13:47] teolemon opened #7666 "Allow user to edit their signup language"
### What
- Allow user to edit their signup language (world-de… de…)
- Add an API so that the mobile app can programmatically prompt the Signup language for logged in users and thus that we start getting user languages for early Open Food Facts contributors.
- Optionally, we could have a interstitial at next web login to ask for a language
### Part of
- Emails

[2022-11-08 14:08] stephanegigandet opened #7667 "Decide on HTTP method for API v3 to create and/or update products"
The new API v3 (a first version will soon be deployed: https://github.com/openfoodfacts/openfoodfacts-server/pull/7614 ) will use the HTTP method to determine what to do.

A GET request on the path /api/v3/[barcode] will return the product.

For writing, we will use the same path /api/v3/[barcode], we could use any other method: POST, PUT or PATCH. (see link about REST apis from @alexgarel ):

I'm

[2022-11-08 14:50] stephanegigandet commented on #7667
From https://restfulapi.net/rest-put-vs-post/ : "PUT replaces the resource in its entirety. Use PATCH if request updates part of the resource."

[2022-11-08 15:25] alexgarel commented on #7667
I think REST is about using a precise grammar, so I'm +1 for patch :-)

I really think respecting REST as much as possible really comes with a lot of benefits, like tools compatibility, consistency, etc.

[2022-11-08 15:27] olivier5741 commented on #7667
Totally different perspective but you could introduce the concept of product draft :)

POST /product/draft -> create a draft for non existing product
POST /product/43335279/draft -> create a draft for existing product

PUT or PATCH /product/43335279/draft/e387cev -> modify the draft

POST /product/43335279/publish/e387cev -> publish the draft as product data

GET /product/43335279 -> get the new p

[2022-11-08 16:02] stephanegigandet commented on #7662
https://github.com/gulp-community/gulp-terser-js/issues/28 is still open

[2022-11-08 16:40] #7626 closed

[2022-11-09 09:41] #5369 closed

[2022-11-09 10:25] john-gom commented on #7667
I would personally avoid PUT as that implies a complete replacement of the object, but it is generally better to get people to only supply the data that they want to change (e.g. they might supply an old value for a field they aren't interested in and overwrite someone else's change).

PATCH or POST are both fine in my opinion. For patch you are basically required to define your own semantics for

[2022-11-09 10:31] john-gom commented on #7601
The new database and updated test results are now in https://github.com/openfoodfacts/openfoodfacts-server/tree/issue/7601. There seem to be quite a few changes to the excoscore numbers for existing products so would be good if someone else could cross-check that there is nothing surprising.

Next step is to review any changed categories and update existing taxonomies. New categories will be dealt

[2022-11-09 12:21] aleene commented on #872
Not sure what happened finally

[2022-11-09 12:21] #872 closed

[2022-11-10 10:27] sultanowski commented on #7306
I forgot to add this issue to my PR #7672 - it's fix this one too.

[2022-11-10 14:26] stephanegigandet commented on #7667
I don't really understand the intent for the drafts, for what purpose would they be used? A product might have several different unpublished drafts? That sounds like a lot of added complexity.

[2022-11-10 14:30] stephanegigandet commented on #7667
Regarding GraphQL, that looks interesting indeed. The ability to request specific fields sounds like an extension of the "fields=[comma separated list of fields] system we have. But it would certainly be a lot of work, so maybe for api v4. ;)

[2022-11-10 14:31] stephanegigandet commented on #7667
Thanks for all the feedback. It seems everyone is ok with PATCH, so I will change the POST requests to PATCH.

[2022-11-10 17:16] #2429 closed

[2022-11-10 17:27] stephanegigandet commented on #7667
We are going to use the existing grammar: if you send a field, we update this field. If you send a field with an empty / undef value, we delete it.

[2022-11-10 19:19] olivier5741 commented on #7667
Sounds good :) (github API does PATCH the same way). In practice it might be ok most or all the time but for consistency it might be good to prevent and remove all null and empty values from the database (found some over [here](https://world.openfoodfacts.org/api/v0/product/5391533790106.json) ). (Undefined is not a valid JSON value)

[2022-11-11 20:57] TaciteOFF commented on #1025
Found the N word tonight, and obviously not on the product itself

[2022-11-14 13:17] #2377 closed

[2022-11-14 14:05] teolemon commented on #7422
@JoseJaramillo04 why did you close your PR ?

[2022-11-14 14:25] teolemon commented on #5205
@stephanegigandet @M123-dev I believe there will be progress tomorrow when this is deployed to .net

[2022-11-14 14:30] teolemon commented on #1754
This was fixed by the NOVA knowledge panel. @CharlesNepote @stephanegigandet @aleene

![Image](https://user-images.githubusercontent.com/1689815/201685734-d5f8303e-cfa0-4972-a18a-45827948860b.png)

[2022-11-14 14:30] #1754 closed

[2022-11-14 14:36] teolemon commented on #2011
This will be partly fixed by https://github.com/openfoodfacts/taxonomy-editor

[2022-11-14 14:42] teolemon commented on #3895
closing this one since perl critic is now run on tests

[2022-11-14 14:42] #3895 closed

[2022-11-14 14:42] teolemon commented on #2672
@stephanegigandet @hangy I believe this one is fixed, right ?

[2022-11-14 14:53] teolemon commented on #5112
closing, we added a warning in the redesign string

[2022-11-14 14:53] #5112 closed

[2022-11-14 15:24] alexgarel commented on #2804
This may also come with https://github.com/openfoodfacts/facets-knowledge-panels

[2022-11-14 16:10] stephanegigandet opened #7695 "Product Opener crashing at startup on dev server when Producers.pm is loaded in startup_apache2.pl"
Caused by this recent commit: https://github.com/openfoodfacts/openfoodfacts-server/commit/8dafcf69bd63c1b0cf2250e32318e72782014194

This happens only on the dev server (which does not use Docker), it seems to be working on Docker.

Commenting out
`#use ProductOpener::Producers qw/:all/;
`
in startup_apache2.pl seems to be the problem.

The weird thing is that I don't see any error message about t

[2022-11-14 16:23] stephanegigandet commented on #7695
After deleting mostly everything in Producers.pm, it seems that this line causes the crash:

use Minion;

[2022-11-14 17:02] teolemon commented on #7695
![image](https://user-images.githubusercontent.com/1689815/201721150-1db503fa-f969-4ced-8020-1bbe38b9e7cb.png)

[2022-11-14 17:35] stephanegigandet commented on #2672
To some extent, we still have generated javascript.

[2022-11-14 22:41] john-gom commented on #7601
Quite a lot of products changed. Attached summarises number of changes by category and grade before and after.

[results.csv](https://github.com/openfoodfacts/openfoodfacts-server/files/10007623/results.csv)

[2022-11-15 08:19] stephanegigandet commented on #7642
"fixed" by downgrading tagify

[2022-11-15 08:19] #7642 closed

[2022-11-15 09:27] alexgarel opened #7697 "Link to mobile app release APK for android without google play"
### Describe the bug

We do not currently have a f-droid release (see https://github.com/openfoodfacts/smooth-app/issues/2771) we should at least point to an APK for android installation without google play.
Thanks to @M123-dev it's available on https://github.com/openfoodfacts/smooth-app/releases/latest, we should point people there.

### To Reproduce

Go to https://world.openfoodfacts.org/open-f

[2022-11-15 10:09] M123-dev commented on #7697
To note: The apk in the release is currently with proprietary binaries.
In the next days there should be a second variant with open source module only

[2022-11-15 11:44] john-gom commented on #7601
Previous file wasn't escaping quotes properly. New one attached.
[results.csv](https://github.com/openfoodfacts/openfoodfacts-server/files/10012294/results.csv)

[2022-11-15 12:39] stephanegigandet opened #7699 "GitHub tests failing because of Perl modules install failing"
We seem to have more failed CI tests than usual lately, related to the install of cpan modules in Docker:
https://github.com/openfoodfacts/openfoodfacts-server/pull/7614

Pull Requests / Build backend dev image for tests (pull_request) Failing after 28m
failed test: https://github.com/openfoodfacts/openfoodfacts-server/pull/7614

grep fail :
[code]

May be solved by https://github.com/openfoodfact

[2022-11-15 12:54] stephanegigandet commented on #7601
So that's against the whole database?

Maybe it could be useful to add some columns with the previous Agribalyse ef_total, the new ef_total, and the difference between the 2.

[2022-11-15 16:20] john-gom commented on #7601
Please ignore previous results, I hadn't rebuild the categories taxonomy before running the update_all_products script. Restoring locally now and will try again and post revised results

[2022-11-15 18:02] #7350 closed

[2022-11-15 18:16] #7699 closed

[2022-11-15 21:48] sultanowski commented on #7621
Maybe we should put smaller banner or bigger visible button on bottom of the page when someone close the banner? Or just renew a cookie with banner every {number} days...

[2022-11-16 09:20] alexgarel commented on #7662
I think it's solved.

[2022-11-16 09:20] #7662 closed

[2022-11-16 09:36] alexgarel commented on #6435
Note: it's better to have anonymization than removal.

[2022-11-16 10:34] alexgarel commented on #7621
Even in mobile mode, there would be space, right to the openfoodfacts logo for a small donate link (with a heart emoticon or something positive).

[2022-11-16 10:51] alexgarel commented on #7695
Is this working now @stephanegigandet ? (to close issue).

[2022-11-16 12:18] #7695 closed

[2022-11-16 12:25] #304 closed

[2022-11-16 12:26] stephanegigandet commented on #260
We now have a nutrients.txt taxonomy in production.

[2022-11-16 13:57] stephanegigandet opened #7705 "Extra /cgi/login.pl string at top of login page when user/password is incorrect"
![image](https://user-images.githubusercontent.com/8158668/202199674-bda41b47-e24a-4ebd-beb5-2e9a36615aea.png)

[2022-11-16 14:43] CharlesNepote opened #7706 "Products' duplicates in the database"
### Describe the bug

The database contains few products' duplicates (~30). It can be seen in several places.

It seems to be due to the _id stored as a number at first, and then as string.

### To Reproduce

In the JSONL export:
[code]

In the CSV export:
[code]

In Mirabelle (based on CSV export):
http://mirabelle.openfoodfacts.org/products?sql=--+identify+duplicates%0D%0Aselect+rowid%2C+code%2C

[2022-11-16 15:36] teolemon commented on #1510
We now have an elastic search backend: https://github.com/openfoodfacts/openfoodfacts-search
That's probably more powerful than a MongoDB solution, right ?

[2022-11-17 08:27] monsieurtanuki opened #7707 "Knowledge panels crash on .net env (not .org)"
### Describe the bug

Looking for knowledge panels for a product will make the API crash on .net env (looks OK on .org):

Undefined subroutine &ProductOpener::API::initialize_knowledge_panels_options called at /opt/product-opener/lib/ProductOpener/API.pm line 633.
For help, please send mail to the webmaster ([contact@openfoodfacts.net](mailto:contact@openfoodfacts.net)), giving this error message

[2022-11-17 08:36] teolemon commented on #7707
@stephanegigandet here's feedback on this mornings deployment

[2022-11-17 09:17] john-gom commented on #7601
New results here. Much fewer entries where there is no longer a matching AGRIBALYSE code. Investigating these...
[results.csv](https://github.com/openfoodfacts/openfoodfacts-server/files/10029755/results.csv)

[2022-11-17 17:03] #7707 closed

[2022-11-17 17:11] M123-dev commented on #6987
👍🏼

[2022-11-17 19:51] john-gom commented on #7601
Here's another version but first of all I ran update_all_products on main and then ran for this branch. Also added the categories fields switch sop full command line was:

./update_all_products.pl --fields categories --compute-ecoscore --mongodb-to-mongodb

[results.csv](https://github.com/openfoodfacts/openfoodfacts-server/files/10035047/results.csv)

[2022-11-17 20:22] CharlesNepote opened #7718 "Display quality issues + call to action after an edit"
Instead of stopping the user before his/her edit's validation, we can display him/her some messages on the post-validation page:
* the data quality issues with explanations
* quick links to allow him/her fix the issues

[2022-11-17 21:36] CharlesNepote opened #7720 "Edition via website is very hard on mobile"
### Describe the bug

Fixed header (off logo + search form + nav buttons) + fixed footer are taking a huge space and when you add the keyboard, when entering a field, I can't see what I'm typing.

(Screenshot to come.)

### To Reproduce

Edit a product on a mobile phone.

### Expected behavior

At least be able to see one line of each field.

### Screenshots

_No response_

### Additional context

[2022-11-18 06:27] teolemon commented on #7219
<img width="218" alt="image" src="https://user-images.githubusercontent.com/1689815/202635713-fcbe961e-4ee0-4645-ac90-44acd7f4c39b.png">

[2022-11-18 10:51] john-gom commented on #7601
Found an issue where the first code in the AGRIBALYSE source file was being skipped (11084). Now resolved.
[results.csv](https://github.com/openfoodfacts/openfoodfacts-server/files/10040587/results.csv)

[2022-11-18 10:58] stephanegigandet commented on #7720
I think we could just unfix the fixed header on mobile, for all pages, or maybe just keep the OFF logo.

[2022-11-18 11:23] john-gom commented on #7601
Attached is the full list of products that have had a change in ecoscore grade. The "... Before Main" columns apply where the ecoscore was changed when running updatge_all_products using the current main. If these are undefined then the ecoscore wasn't changed by the main branch. The "... Before Change" show the values before the new branch changes were applied.

[detail.zip](https://github.com/op

[2022-11-18 13:07] stephanegigandet opened #7722 "Autocomplete JS broken in product edit form, prevents JS to load (jquery-ui / jquery incompatibility)"
In the product edit form, adding new nutrients is not possible, and the autocomplete does not work.

[code]

Probably due to the dependencies upgrade a few weeks ago.

[2022-11-19 15:46] teolemon commented on #3333
Was asked by a user during Capitole du Libre

[2022-11-21 12:48] professorabhay commented on #7720
I am interested to work on this issue!

[2022-11-21 13:34] #7722 closed

[2022-11-21 14:17] FoodCoach-App opened #7735 "CSV Upload from Open Source Data to OFF Database"
- Epic: #

### Description
Bulk CSV file "add" to database.
Specifically looking to upload all PLU codes from here (https://www.ifpsglobal.com/PLU-Codes) with the free to use USDA nutritional information from here (https://fdc.nal.usda.gov/fdc-app.html#/food-details/2346398/nutrients).
There are 1423 unique items on this list; I'd hate to have to do this manually.

### Acceptance criteria
API or w

[2022-11-21 15:49] #6587 closed

[2022-11-21 15:49] stephanegigandet commented on #4993
Some related discussion on: https://github.com/openfoodfacts/openfoodfacts-server/issues/6587

[2022-11-21 16:13] john-gom commented on #7602
This will be added into the issue/7601 branch.

Spreadsheet here show matching with existing categories and where new categories need to be added.

Categories tab shows existing taxonomies and where an AGRIBALYSE code or proxy could be added. It may also be appropriate to add a further alias if the ARGRIBALYSE name is slightly different.

The AGRIBALYSE_summary tab shows where a match was found in

[2022-11-21 17:31] teolemon opened #7738 "Impossible to read the full doc"
### What
Impossible to read the full doc
<img width="1080" alt="image" src="https://user-images.githubusercontent.com/1689815/203121912-35dba4b8-c4b6-4747-98a0-5c0f2f725afa.png">
### Part of
- #7446

[2022-11-21 17:38] stephanegigandet opened #7739 "Export from producers platform fail for 1 product with empty imported_date field"
Reported by @manon-corneille for product https://fr.openfoodfacts.org/produit/3038359003394/lustucru-risotto-facile-5 on org-lustucru-frais

The import on the public platform fails, and in the logs the last line is:

[4933] ProductOpener/Import.pm 947 ProductOpener.Import {} product already exists {code => "3038359003394",product_id => "3038359003394"}

Adding some debug logs and running the minio

[2022-11-21 19:43] teolemon commented on #6043
Still an issue, on very popular products: https://world.openfoodfacts.org/product/5449000131836/coca-cola-zero

[2022-11-21 21:08] aleene commented on #6043
The app also creates a lot of empty products.

[2022-11-22 02:16] Roxie-32 opened #7743 "Re order the nav menu for the Open Food Facts documentation"
The[ navigation menu ](https://openfoodfacts.github.io/openfoodfacts-server/)for the Open Food Facts documentation is a bit scattered.  It should be ordered , from home to introduction etc.

[2022-11-22 08:42] john-gom commented on #7602
Question: Should we include all of the different mineral water brands that are included in AGRIBALYSE or just stick pick one as being representative?

[2022-11-22 08:51] #7739 closed

[2022-11-22 10:47] teolemon opened #7744 "Documentation (tracker)"
### What
- #5559
- #7446

### Part of
- #5529

[2022-11-22 10:49] teolemon commented on #7446
cc @stephanegigandet @Roxie-32 @alexgarel Documentation issue tracking

[2022-11-22 10:50] teolemon opened #7745 "Create a Robotoff section with high-level explanation and a link to the Robotoff API doc"
### What
- Create a Robotoff section with high-level explanation and a link to the newly deployed Robotoff API doc

### Part of
- #7446

[2022-11-22 10:50] teolemon opened #7746 "Create a Knowledge Panel Facets section with high-level explanation and a link to the Knowledge Panel Facets API"
### What
- Create a Knowledge Panel Facets section with high-level explanation and a link to the Knowledge Panel Facets API
- https://facets-kp.openfoodfacts.net/docs#/knowledge-panel/
- https://facets-kp.openfoodfacts.org/docs#/knowledge-panel/
### Code pointer
- This gives you an idea of where to insert the HTML code for Facets Knowledge Panels
  - https://github.com/openfoodfacts/openfoodfacts-

[2022-11-22 10:50] teolemon opened #7747 "Create a Folksonomy Engine section with high-level explanation and a link to the Folksonomy Engine API"
### What
- Create a Folksonomy Engine section in the documentation with high-level explanation and a link to the Folksonomy Engine API
- https://api.folksonomy.openfoodfacts.org/docs
### Part of
- #7446
- #7525

[2022-11-22 10:50] teolemon opened #7748 "Create a openfoodfacts-events section with high-level explanation and a link to the openfoodfacts-events API"
### What
- Create a openfoodfacts-events section with high-level explanation and a link to the openfoodfacts-events API

### Part of
- #7446

[2022-11-22 10:52] teolemon commented on #7746
cc @sumit-158

[2022-11-22 13:10] john-gom commented on #7602
The scores are pretty similar, most have a total score of 0.03 and DQR is either 2.97 or 3.01. You can see for yourself in the ecoscore/agribalyse/AGRIBALYSE_xf.xlsm in GitHub

[2022-11-22 14:38] raphael0202 commented on #7564
I'm leaving my feedback here on potential bugs I've encountered when testing the current version of the API.

## Overwriting packaging data

It seems there is an issue when trying to overwrite packaging data.
I'm using the following script to update this product (.net server):

[code]

According to the documentation, the data is supposed to be overwritten, which isn't the case (see before/after sc

[2022-11-22 15:26] john-gom commented on #7602
Here's the summary of products that still don't have an ecoscore, grouped by the last of their categories_tags:
[missing.csv](https://github.com/openfoodfacts/openfoodfacts-server/files/10068748/missing.csv)

[2022-11-22 15:57] alexgarel commented on #6043
Could we do this on robotoff side ? A bit like the idea of check spelling, if a category, label, etc. has just a language mismatch, fix it.

[2022-11-22 18:37] #2804 closed

[2022-11-24 09:40] stephanegigandet commented on #7735
That's a very interesting topic. The CSV upload is in fact the easier part: we have that in our platform for producers: https://world.pro.openfoodfacts.org There's a CSV template, and we support custom files too.

It brings a lot of questions though:

1. Do we create one product in OFF for each PLU number?
2. Do we use the PLU number as the "code" identifier for those products? (currently we use t

[2022-11-24 09:41] stephanegigandet commented on #7735
In addition, something we could do is to add the PLU numbers to the corresponding categories in the taxonomy category.

[2022-11-24 14:19] FoodCoach-App commented on #7735
I'll answer these questions based on how I'd like to use the data for my platform FoodCoach.
1. Yes, each PLU would be a product in OFF
2. Yes, the 4 or 5 digit PLU would be the identifier
3. Yes, There seems to be no restrictions about reuse from the USDA database.
4. At this time I am not proposing adding other items from the USDA database without PLU's
5. We can use any database that has nutrit

[2022-11-24 16:01] teolemon commented on #7735
Related, this old 2016 bug from me: https://github.com/openfoodfacts/openfoodfacts-server/issues/561

[2022-11-24 17:12] FoodCoach-App commented on #7735
I would be happy to upload this data as described myself, and would only
need a corporate account. I would like to ensure that what I have described
is reasonable, consistent with the goals of OFF and that the data format
makes sense.

On Thu, Nov 24, 2022, 11:02 AM Pierre Slamich ***@***.***>
wrote:

[2022-11-25 07:01] JoseJaramillo04 commented on #7422
PR did not go  as expected, sorry about that

[2022-11-25 15:09] stephanegigandet commented on #6836
we could have a special "create_new_code" value that could be put in the code field

[2022-11-25 15:29] alexgarel commented on #7738
Did you reproduced it @teolemon ?

[2022-11-25 15:46] #7743 closed

[2022-11-25 16:28] alexgarel commented on #7735
@stephanegigandet maybe we should prefix that kind of code, and have an ID like plu-00000.
By default we know digits are EAN.
I think this ask for a small rework in actual code (in code validation function).

[2022-11-25 16:30] alexgarel commented on #7735
I think importing this kind of database is really in tune with our project goal.

I would put "USDA database" as the brand

[2022-11-25 16:49] stephanegigandet commented on #7735
we could so something similar for the products without barcodes, and prefix them with off-

one question is what to do with the USDA FDC entries: do we import them separately? same for ciqual?

so we could have one "PLU" orange, one "USDA FDC" orange, one "CIQUAL" orange.

another option is to have only one PLU orange, and then complete its nutrient data from either USDA FDC or CIQUAL.

[2022-11-25 18:03] alexgarel commented on #7735
Personally I prefer this approach. A data source is like a brand / producer.

Otherwise it might be quite funky to run updates.

Then if we want, in the future, to have a special "Orange" that mix them up, we could have it also independently.

[2022-11-25 18:06] alexgarel commented on #7260
We did create a tail_log_start and tail_log_read function in APITest.pm, but right now it's only used in `create_user` sub. We could use it in other functions.

[2022-11-25 18:56] FoodCoach-App commented on #7735
I don't understand the desire to separate the nutrition information by data source.

If a user searches for a specific type of apple (4015 for example), they don't care if the information from USDA or CIQUAL.

The USDA and CIQUAL data should be nearly identical anyway.

We can list the source, but when I search for 4015, I'd expect it to return information just as it does today.

https://world.ope

[2022-11-25 18:58] FoodCoach-App commented on #7735
A closer reading of some of the prior comments leads me to believe there is some confusion regarding the PLU codes.

A PLU code is for a specific name and type of commodity. A "Granny Smith" apple is a different PLU code from a "Red Delicious" apple, which is different from a "Fugi" apple. Hope this helps.

[2022-11-25 19:00] teolemon commented on #7738
nope, we can close I guess.

[2022-11-25 19:00] #7738 closed

[2022-11-26 13:59] teolemon opened #7760 "Origins marked as strong impact when no origins are present"
### What
- Origins marked as strong impact when no origins are present
- Link for a scannable barcode: barcode-54738560
<-- add the barcode after the hyphen like barcode-1234 -->
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/204092420-13fada0c-cdfc-49ae-ba46-0b9b6e48a373.png)

[2022-11-27 10:06] teolemon opened #7761 "Allow to redirect to arbitrary page after login"
### What
- Allow to redirect to arbitrary page (or to page which initiated the login) after login

### Use-cases
- Login from Hunger Games
- Login from a specific product on the website, as you try to edit it.
- Making it possible to add a signup workflow after answering a Hunger Games question

[2022-11-27 10:14] teolemon commented on #439
This has been fixed by the redesign, on the topbar @VaiTon @teolemon

[2022-11-27 10:14] #439 closed

[2022-11-27 10:16] teolemon commented on #178
Yes, long been fixed @VaiTon @stephanegigandet
I'm closing, thanks for the spot

[2022-11-27 10:16] #178 closed

[2022-11-27 11:06] teolemon opened #7762 "Values passed for labels and brands on deep link to Hunger Games are not correct"
### What
- Values passed for labels and brands on deep link to Hunger Games are not correct
- Categories works fine

### Links
Hunger Games
[/questions?type=labels&value_tag=/etiqueta/es-eco-021-ex](https://hunger.openfoodfacts.org/questions?type=labels&value_tag=/etiqueta/es-eco-021-ex)
Hunger Games
[/questions?type=brands&value_tag=/marque/deluxe-page-2](https://hunger.openfoodfacts.org/question

[2022-11-27 11:13] teolemon commented on #6374
Potentially, we could have a check on that kind of weights
<img width="418" alt="image" src="https://user-images.githubusercontent.com/1689815/204132165-d5583fd4-78bd-4aed-9f4f-f9a5c7ebdf4f.png">

[2022-11-27 19:19] teolemon commented on #466
but still present

[2022-11-28 08:54] alexgarel commented on #7735
@FoodCoach-App, the separation I propose is more from a maintenance point of view, but also as sources may diverge. Saussage may not mean the same thing everywhere. I see that the international meaning of food is not so uniform, and may lead to surprise.
Personally I see that making separate items is cleaner and easier because we can really take the exact name of each classification.
That said we

[2022-11-28 12:29] FoodCoach-App commented on #7735
@alexgarel
Can a consumer in France or the EU purchase an item and the item states that it is CIQUAL code "12345"? The CIQUAL codes seem to be the database of nutrition information that is made easy to lookup with numeric identifiers.

[2022-11-28 13:52] hangy commented on #7735
What's the license of the data? Can this "free to use" data be combined with DbCL content?

[2022-11-28 14:04] FoodCoach-App commented on #7735
The USDA nutritional data-base is free to use.
The IFPS data is user-submitted and the policy is here. https://www.ifpsglobal.com/Terms
I'm not a lawyer, but I see no prohibition against using the data.

[2022-11-28 15:45] teolemon commented on #7735
- Related: #6198

[2022-11-28 15:46] teolemon commented on #7735
- https://github.com/openfoodfacts/openfoodfacts-server/issues/5259

[2022-11-28 16:06] FoodCoach-App commented on #7735
@alexgarel not a problem. This was my first introduction to CIQUAL data as well.  Does this change your suggestion(s) regarding how to store nutritional data for PLU codes? A PLU is almost directly analogous to UPC (at least in the USA).

If it would help, here is the current status (incomplete) of the proposed data-base to add to OFF.

In the spreadsheet, columns A-E are from IFPS and F-M are fro

[2022-11-28 17:28] CharlesNepote commented on #7735
@alexgarel https://en.wikipedia.org/wiki/Price_look-up_code
These codes also seem to be used not only in the USA, at least France: https://fr.wikipedia.org/wiki/Code_price_look-up

I'm also in favor to use prefixes.

[2022-11-28 17:33] CharlesNepote opened #7768 "Serving_quantity is wrongly computed based on serving_size"
### Describe the bug

In [this product](https://world.openfoodfacts.org/product/0851042007034/prebiotic-fiber-protein-whole-plant-smoothie) I filled serving size = 12 fl oz and the api answers "serving_quantity": null, "serving_size": "12 fl oz".

Other example: https://world.openfoodfacts.org/product/10662564/grand-arome-poulain
![image](https://user-images.githubusercontent.com/562352/204342941-

[2022-11-28 17:44] FoodCoach-App commented on #7735
Thanks @CharlesNepote!

I did a quick check, the examples on the wiki page match the PLU data-base that I have.

#3024 = Poire Rocha (En: Rocha Pears)
#4173 = Petite pomme royal gala (En: Royal Gala Apples: Small)
#4174 = Grosse pomme royal gala (En: Royal Gala Apples: Large)
#4664 = Tomate rouge (En: Red Tomatoes on vine)

Question regarding the use of a pre-fix.
How would a new user know to use

[2022-11-29 13:44] stephanegigandet commented on #7735
It's not specific to PLU and CIQUAL, small numbers are likely to conflict with something now or in the future. There's no cost in adding a prefix, and we can make the search work so that it returns a PLU 4664 when someone types in 4664. The most common use case is probably going to be to search fruits and vegetables by name, not by PLU, so what matters the most is that we do load the PLU items as

[2022-11-29 15:56] FoodCoach-App commented on #7735
Got it. Thank you.  On my end, I can make the FoodCoach API search the OFF database for 4053 (from the picture below).

How do we proceed?

Second Question, Still Related to PLU's: How does the OFF app handle reading GS1 Databar Stacked Omnidirectional barcode symbol stickers like this? The 4 digit PLU is imbedded in the 13 digit GTIN number string. I'd recommend cropping off the extraneous digits

[2022-11-30 09:22] teolemon commented on #7746
It's live on production
### Code pointer
- https://github.com/openfoodfacts/openfoodfacts-server/pull/7742/files

[2022-11-30 09:28] stephanegigandet commented on #7735
Well, is there a way to know that a GTIN-13 number follows that scheme? I think we should keep the original GTIN, but if we know that there is a PLU inside, we could link to it and/or use PLU data to complement it.

[2022-11-30 13:40] FoodCoach-App commented on #7735
Yes, GTIN13 numbers follow that scheme.

GTIN12 numbers (used in the US) use this scheme.

https://www.gs1us.org/documents?Command=Core_Download&EntryId=554

The full GTIN contains the grower/manufacture which is not relevant for nutritional information.

[2022-11-30 16:01] CharlesNepote opened #7777 "Folksonomy Engine UI is not displayed anymore"
### Describe the bug

The UI is not displayed anymore because some HTML code has been removed from Product Opener.
Folksonomy Engine UI is appended via Javascript on a `<div>` containing `itemtype='https://schema.org/Product'`.

### To Reproduce

Open https://world.openfoodfacts.org/product/5000119532329/conchiglie-tesco

[2022-11-30 20:33] CharlesNepote opened #7778 "Data quality: distraction-free editor, focusing on tasks"
### Description
[Based on aleene wishes]
When Peter wants to fix many products, he would like to focus on some particular tasks:
* fixing ingredients based on photo
* fixing nutrients table based on photo

As a first step, it can be only a distraction-free mode for the current editor.

### Tasks
- [ ] List the different tasks to benefit from distraction-free mode
- [ ] List what to keep and what t